;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; ESC => EWR
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; esc
{:des "ESC Mode - symbols"
 :rules
 [;
  ; [:!EWR#Pleft_arrow []]                                                                         ;
  ; [:!EWR#Pright_arrow []]                                                                        ;
  ; [:!EWR#Pup_arrow []]                                                                           ;
  ; [:!EWR#Pdown_arrow []]                                                                         ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; esc
{:des "ESC Mode - symbols"
 :rules
 [;
  ; [:!EWR#Popen_bracket []]                                                                       ;
  ; [:!EWR#Pclose_bracket []]                                                                      ;
  ; [:!EWR#Psemicolon []]                                                                          ;
  ; [:!EWR#Pquote []]                                                                              ;
  ; [:!EWR#Pbackslash []]                                                                          ;
  ; [:!EWR#Pcomma []]                                                                              ;
  ; [:!EWR#Pperiod []]                                                                             ;
  ; [:!EWR#Pslash []]                                                                              ;

  ; [:!EWR#Pdelete_or_backspace []]                                                                ;
  ; [:!EWR#Preturn_or_enter []]                                                                    ;
  ; [:!EWR#Pright_shift []]                                                                        ;
  ; [:!EWR#Pright_option []]                                                                       ;
  ; [:!EWR#Pright_command []]                                                                      ;
  ; [:!EWR#Pspacebar []]                                                                           ;

  ; [:!EWR#Pleft_command []]                                                        NOT USEFUL     ;
  ; [:!EWR#Pleft_option []]                                                         NOT USEFUL     ;
  ; [:!EWR#Pleft_control []]                                                        NOT USEFUL     ;
  ; [:!EWR#Pleft_shift []]                                                          NOT USEFUL     ;
  ; [:!EWR#Pcaps_lock []]                                                           NOT USEFUL     ;
  ; [:!EWR#Ptab []]                                                                 NOT USEFUL     ;
  ; [:!EWR#Pkeypad_num_lock []]                                                     NOT USEFUL     ;
  ; [:!EWR#Pescape []]                                                              NOT AVAILABLE  ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; esc
{:des "ESC Mode - numbers"
 :rules
 [;
  ; [:!EWR#keypad_1 []]                                                                            ;
  ; [:!EWR#keypad_2 []]                                                                            ;
  ; [:!EWR#keypad_3 []]                                                                            ;
  ; [:!EWR#keypad_4 []]                                                                            ;
  ; [:!EWR#keypad_5 []]                                                                            ;
  ; [:!EWR#keypad_6 []]                                                                            ;
  ; [:!EWR#keypad_7 []]                                                                            ;
  ; [:!EWR#keypad_8 []]                                                                            ;
  ; [:!EWR#keypad_9 []]                                                                            ;
  ; [:!EWR#keypad_0 []]                                                                            ;
  ; [:!EWR#keypad_slash []]                                                                        ;
  ; [:!EWR#keypad_asterisk []]                                                                     ;

  ; [:!EWR#1 []]                                                                                   ;
  ; [:!EWR#2 []]                                                                                   ;
  ; [:!EWR#3 []]                                                                                   ;
  ; [:!EWR#4 []]                                                                                   ;
  ; [:!EWR#5 []]                                                                                   ;
  ; [:!EWR#6 []]                                                                                   ;
  ; [:!EWR#7 []]                                                                                   ;
  ; [:!EWR#8 []]                                                                                   ;
  ; [:!EWR#9 []]                                                                                   ;
  ; [:!EWR#0 []]                                                                                   ;
  ; [:!EWR#Phyphen []]                                                                             ;
  ; [:!EWR#Pequal_sign []]                                                                         ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; esc
{:des "ESC Mode - alphabet"
 :rules
 [;
  ; [:!EWR#Pa []]                                                                                  ;
  ; [:!EWR#Pb []]                                                                                  ;
  ; [:!EWR#Pc []]                                                                                  ;
  ; [:!EWR#Pd []]                                                                                  ;
  ; [:!EWR#Pe []]                                                                                  ;
  ; [:!EWR#Pf []]                                                                                  ;
  ; [:!EWR#Pg []]                                                                                  ;
  ; [:!EWR#Ph []]                                                                                  ;
  ; [:!EWR#Pi []]                                                                                  ;
  ; [:!EWR#Pj []]                                                                                  ;
  ; [:!EWR#Pk []]                                                                                  ;
  ; [:!EWR#Pl []]                                                                                  ;
  ; [:!EWR#Pm []]                                                                                  ;
  ; [:!EWR#Pn []]                                                                                  ;
  ; [:!EWR#Po []]                                                                                  ;
  ; [:!EWR#Pp []]                                                                                  ;
  ; [:!EWR#Pq []]                                                                                  ;
  ; [:!EWR#Pr []]                                                                                  ;
  ; [:!EWR#Ps []]                                                                                  ;
  ; [:!EWR#Pt []]                                                                                  ;
  ; [:!EWR#Pu []]                                                                                  ;
  ; [:!EWR#Pv []]                                                                                  ;
  ; [:!EWR#Pw []]                                                                                  ;
  ; [:!EWR#Px []]                                                                                  ;
  ; [:!EWR#Py []]                                                                                  ;
  ; [:!EWR#Pz []]                                                                                  ;
  ; [:!EWR#Pright_control []]                                                                      ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
