;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; HYPER => OTC
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

{:des "Hyper Mode - arrows"
 :rules
 [;
  [:!OTC#Pleft_arrow [:!Spage_up] [:term]]
  [:!OTC#Pright_arrow [:!Spage_down] [:term]]
  [:!OTC#Pup_arrow [:!Shome] [:term]]
  [:!OTC#Pdown_arrow [:!Send] [:term]]

  ; TODO: review hyper - zellij bindings
  ; [:!OTC#Popen_bracket []]
  ; [:!OTC#Pclose_bracket []]
  ; [:!OTC#Psemicolon []]
  ; [:!OTC#Pquote []]
  ; [:!OTC#Pbackslash []]
  ; [:!OTC#Pcomma []]
  ; [:!OTC#Pperiod []]
  ; [:!OTC#Pslash []]

  [:!OTC#Pdelete_or_backspace :!SOm [:term]]                                   ; pane float pin    ; zellij
  [:!OTC#Preturn_or_enter :!SOn [:term]]                                       ; pane float toggle ; zellij
  [:!OTC#Pright_shift :!Oh [:term]]                                            ; mode search       ; zellij
  [:!OTC#Pright_option :!SOl [:term]]                                          ; pane float pop    ; zellij
  ; [:!OTC#Pright_command []]
  [:!OTC#Pspacebar :!Og [:term]]                                               ; mode lock         ; zellij
  ]}
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
