;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; JOKER
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; joker
{:des "Joker Mode - symbols"
 :rules
 [;
  ; test
  [:!EWQS#Pup_arrow :f13]                                                                          ;
  [:!EWQS#Pdown_arrow :f14]                                                                        ;

  ; parameter
  [:!EWQO#Pup_arrow :f10]                                                                          ;
  [:!EWQO#Pdown_arrow :f11]                                                                        ;

  ; function
  [:!EWQC#Pup_arrow :f6]                                                                           ;
  [:!EWQC#Pdown_arrow :f5]                                                                         ;

  ; class
  [:!EWQT#Pup_arrow :f8]                                                                           ;
  [:!EWQT#Pdown_arrow :f9]                                                                         ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; joker
{:des "Joker Mode - symbols"
 :rules
 [;
  [:!EWQ#Popen_bracket [:spacebar :!S5 :!Scomma :!Sequal_sign :!S5 :spacebar]]                     ; ' %<+% '
  [:!EWQ#Pclose_bracket [:spacebar :!S5 :!Sequal_sign :!Speriod :!S5 :spacebar]]                   ; ' %+>% '
  [:!EWQ#Psemicolon [:spacebar :!S5 :!S4 :!S5 :spacebar]]                                          ; ' %$% '
  [:!EWQ#Pquote [:spacebar :!S5 :!St :!Speriod :!S5 :spacebar]]                                    ; ' %T>% '
  [:!EWQ#Pbackslash [:spacebar :!S5 :!Scomma :!Speriod :!S5 :spacebar]]                            ; ' %<>% '
  [:!EWQ#Pcomma [:spacebar :!S5 :!Scomma :!S5 :spacebar]]                                          ; ' %<% '
  [:!EWQ#Pperiod [:spacebar :!S5 :!Speriod :!S5 :spacebar]]                                        ; ' %>% '
  [:!EWQ#Pslash [:spacebar :!S5 :!S1 :!Speriod :!S5 :spacebar]]                                    ; ' %!>% '

  ; ; [:!EWQ#Popen_bracket [:f8]]                                                                    ;
  ; ; [:!EWQ#Pclose_bracket [:f9]]                                                                   ;
  ; ; [:!EWQ#Psemicolon [:f10]]                                                                      ;
  ; ; [:!EWQ#Pquote [:f11]]                                                                          ;
  ; [:!EWQ#Pbackslash [:f12]]                                                                        ;
  ; ; [:!EWQ#Pcomma [:f18]]                                                                          ;
  ; ; [:!EWQ#Pperiod [:f19]]                                                                         ;
  ; ; [:!EWQ#Pslash [:f20]]                                                                          ;

  [:!EWQ#Pdelete_or_backspace [:f20]]                                                              ;
  [:!EWQ#Preturn_or_enter [:f2]]                                                                   ;
  [:!EWQ#Pright_shift [:f19]]                                                                      ;
  [:!EWQ#Pright_option [:f4]]                                                                      ;
  [:!EWQ#Pright_command [:f18]]                                                                    ;
  [:!EWQ#Pspacebar [:f1]]                                                                          ;

  ; [:!EWQ#Pleft_command []]                                                                       ;
  ; [:!EWQ#Pleft_option []]                                                                        ;
  ; [:!EWQ#Pleft_control []]                                                                       ;
  ; [:!EWQ#Pleft_shift []]                                                                         ;
  ; [:!EWQ#Pcaps_lock []]                                                                          ;
  ; [:!EWQ#Ptab []]                                                                 NOT AVAILABLE  ;
  ; [:!EWQ#Pnon_us_backslash []]                                                                   ;
  ; [:!EWQ#Pescape []]                                                                             ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; joker
{:des "Joker Mode - numbers"
 :rules
 [;
  ; [:!EWQ#Pkeypad_1 []]                                                                           ;
  ; [:!EWQ#Pkeypad_2 []]                                                                           ;
  ; [:!EWQ#Pkeypad_3 []]                                                                           ;
  ; [:!EWQ#Pkeypad_4 []]                                                                           ;
  ; [:!EWQ#Pkeypad_5 []]                                                                           ;
  ; [:!EWQ#Pkeypad_6 []]                                                                           ;
  ; [:!EWQ#Pkeypad_7 []]                                                                           ;
  ; [:!EWQ#Pkeypad_8 []]                                                                           ;
  ; [:!EWQ#Pkeypad_9 []]                                                                           ;
  ; [:!EWQ#Pkeypad_0 []]                                                                           ;
  ; [:!EWQ#Pkeypad_slash []]                                                                       ;
  ; [:!EWQ#Pkeypad_asterisk []]                                                                    ;

  ; [:!EWQ#P1 []]                                                                                  ;
  ; [:!EWQ#P2 []]                                                                                  ;
  ; [:!EWQ#P3 []]                                                                                  ;
  ; [:!EWQ#P4 []]                                                                                  ;
  ; [:!EWQ#P5 []]                                                                                  ;
  ; [:!EWQ#P6 []]                                                                                  ;
  ; [:!EWQ#P7 []]                                                                                  ;
  ; [:!EWQ#P8 []]                                                                                  ;
  ; [:!EWQ#P9 []]                                                                                  ;
  [:!EWQ#P0 [:f12]]                                                                                ;
  [:!EWQ#Phyphen [:f13]]                                                                           ;
  [:!EWQ#Pequal_sign [:f14]]                                                                       ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; joker
{:des "Joker Mode - alphabet"
 :rules
 [;
  ; [:!EWQ#Pa []]                                                                                  ;
  ; [:!EWQ#Pb []]                                                                                  ;
  ; [:!EWQ#Pc []]                                                                                  ;
  ; [:!EWQ#Pd []]                                                                                  ;
  ; [:!EWQ#Pe []]                                                                                  ;
  ; [:!EWQ#Pf []]                                                                                  ;
  ; [:!EWQ#Pg []]                                                                                  ;
  ; [:!EWQ#Ph []]                                                                                  ;
  ; [:!EWQ#Pi []]                                                                                  ;
  ; [:!EWQ#Pj []]                                                                                  ;
  ; [:!EWQ#Pk []]                                                                                  ;
  ; [:!EWQ#Pl []]                                                                                  ;
  ; [:!EWQ#Pm []]                                                                                  ;
  ; [:!EWQ#Pn []]                                                                                  ;
  ; [:!EWQ#Po []]                                                                                  ;
  ; [:!EWQ#Pp []]                                                                                  ;
  ; [:!EWQ#Pq []]                                                                                  ;
  ; [:!EWQ#Pr []]                                                                                  ;
  ; [:!EWQ#Ps []]                                                                                  ;
  ; [:!EWQ#Pt []]                                                                                  ;
  ; [:!EWQ#Pu []]                                                                                  ;
  ; [:!EWQ#Pv []]                                                                                  ;
  ; [:!EWQ#Pw []]                                                                                  ;
  ; [:!EWQ#Px []]                                                                                  ;
  ; [:!EWQ#Py []]                                                                                  ;
  ; [:!EWQ#Pz []]                                                                                  ;
  ; [:!EWQ#Pright_control []]                                                                      ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
