;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; JOKER => EWQ
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; joker
{:des "Joker Mode - symbols"
 :rules
 [;
  ; editor control - bound for helix
  [:!EWQ#Pleft_arrow [:!Tpage_up] [:term]]                                     ; prev character    ;
  [:!EWQ#Pright_arrow [:!Tpage_down] [:term]]                                  ; next character    ;
  [:!EWQ#Pup_arrow [:!Thome] [:term]]                                          ; prev change       ;
  [:!EWQ#Pdown_arrow [:!Tend] [:term]]                                         ; next change       ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; joker
{:des "Joker Mode - symbols"
 :rules
 [;
  ; editor control - bound for helix
  [:!EWQ#Popen_bracket [:!Of11]]                                               ; prev comment      ;
  [:!EWQ#Pclose_bracket [:!Of12]]                                              ; next comment      ;
  [:!EWQ#Psemicolon [:!Of13]]                                                                      ;
  [:!EWQ#Pquote [:!Of14]]                                                                          ;
  [:!EWQ#Pbackslash [:!Of15]]                                                                      ;
  [:!EWQ#Pcomma [:!Of18]]                                                      ; definition        ;
  [:!EWQ#Pperiod [:!Of19]]                                                     ; reference         ;
  [:!EWQ#Pslash [:!Of20]]                                                      ; implementation    ;

  [:!EWQ#Pdelete_or_backspace [:!Tf11]]                                        ; rename symbol     ;
  [:!EWQ#Preturn_or_enter [:!Tf12]]                                            ; symbol            ;
  [:!EWQ#Pright_shift [:!Tf13]]                                                ; type definition   ;
  [:!EWQ#Pright_option [:!Tf14]]                                                                   ;
  [:!EWQ#Pright_command [:!Tf15]]                                                                  ;
  [:!EWQ#Pspacebar [:!Tf18]]                                                   ; last motion       ;

  ; [:!EWQ#Pleft_command []]                                                        NOT USEFUL     ;
  ; [:!EWQ#Pleft_option []]                                                         NOT USEFUL     ;
  ; [:!EWQ#Pleft_control []]                                                        NOT USEFUL     ;
  ; [:!EWQ#Pleft_shift []]                                                          NOT USEFUL     ;
  ; [:!EWQ#Pcaps_lock []]                                                           NOT USEFUL     ;
  ; [:!EWQ#Ptab []]                                                                 NOT AVAILABLE  ;
  ; [:!EWQ#Pkeypad_num_lock []]                                                     NOT USEFUL     ;
  ; [:!EWQ#Pescape []]                                                              NOT USEFUL     ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; joker
{:des "Joker Mode - numbers"
 :rules
 [;
  ; [:!EWQ#Pkeypad_1 []]                                                                           ;
  ; [:!EWQ#Pkeypad_2 []]                                                                           ;
  ; [:!EWQ#Pkeypad_3 []]                                                                           ;
  ; [:!EWQ#Pkeypad_4 []]                                                                           ;
  ; [:!EWQ#Pkeypad_5 []]                                                                           ;
  ; [:!EWQ#Pkeypad_6 []]                                                                           ;
  ; [:!EWQ#Pkeypad_7 []]                                                                           ;
  ; [:!EWQ#Pkeypad_8 []]                                                                           ;
  ; [:!EWQ#Pkeypad_9 []]                                                                           ;
  ; [:!EWQ#Pkeypad_0 []]                                                                           ;
  [:!EWQ#Pkeypad_slash [:!Tf19]]                                                                   ;
  [:!EWQ#Pkeypad_asterisk [:!Tf20]]                                                                ;

  ; [:!EWQ#P1 []]                                                                                  ;
  ; [:!EWQ#P2 []]                                                                                  ;
  ; [:!EWQ#P3 []]                                                                                  ;
  ; [:!EWQ#P4 []]                                                                                  ;
  ; [:!EWQ#P5 []]                                                                                  ;
  ; [:!EWQ#P6 []]                                                                                  ;
  ; [:!EWQ#P7 []]                                                                                  ;
  ; [:!EWQ#P8 []]                                                                                  ;
  ; [:!EWQ#P9 []]                                                                                  ;
  ; [:!EWQ#P0 []]                                                                                  ;
  ; [:!EWQ#Phyphen []]                                                                             ;
  ; [:!EWQ#Pequal_sign []]                                                                         ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; joker
{:des "Joker Mode - alphabet"
 :rules
 [;
  ; [:!EWQ#Pa []]                                                                                  ;
  ; [:!EWQ#Pb []]                                                                                  ;
  ; [:!EWQ#Pc []]                                                                                  ;
  ; [:!EWQ#Pd []]                                                                                  ;
  ; [:!EWQ#Pe []]                                                                                  ;
  ; [:!EWQ#Pf []]                                                                                  ;
  ; [:!EWQ#Pg []]                                                                                  ;
  ; [:!EWQ#Ph []]                                                                                  ;
  ; [:!EWQ#Pi []]                                                                                  ;
  ; [:!EWQ#Pj []]                                                                                  ;
  ; [:!EWQ#Pk []]                                                                                  ;
  ; [:!EWQ#Pl []]                                                                                  ;
  ; [:!EWQ#Pm []]                                                                                  ;
  ; [:!EWQ#Pn []]                                                                                  ;
  ; [:!EWQ#Po []]                                                                                  ;
  ; [:!EWQ#Pp []]                                                                                  ;
  ; [:!EWQ#Pq []]                                                                                  ;
  ; [:!EWQ#Pr []]                                                                                  ;
  ; [:!EWQ#Ps []]                                                                                  ;
  ; [:!EWQ#Pt []]                                                                                  ;
  ; [:!EWQ#Pu []]                                                                                  ;
  ; [:!EWQ#Pv []]                                                                                  ;
  ; [:!EWQ#Pw []]                                                                                  ;
  ; [:!EWQ#Px []]                                                                                  ;
  ; [:!EWQ#Py []]                                                                                  ;
  ; [:!EWQ#Pz []]                                                                                  ;
  ; [:!EWQ#Pright_control []]                                                                      ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; joker
{:des "Joker Mode - symbols"
 :rules
 [;
  ; editor control - bound for helix
  [:!EWQS#Pleft_arrow [:!WSpage_up] [:term]]                                   ; prev jump         ;
  [:!EWQS#Pright_arrow [:!WSpage_down] [:term]]                                ; next jump         ;
  ; [:!EWQS#Pup_arrow [:!WShome] [:term]]                                        ;                   ;
  ; [:!EWQS#Pdown_arrow [:!WSend] [:term]]                                       ;                   ;
 ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; joker
{:des "Joker Mode - symbols"
 :rules
 [;
  ; editor control - bound for helix
  [:!SEWQ#Popen_bracket [:!SOf11]]                                                                 ;
  [:!SEWQ#Pclose_bracket [:!SOf12]]                                                                ;
  [:!SEWQ#Psemicolon [:!SOf13]]                                                                    ;
  [:!SEWQ#Pquote [:!SOf14]]                                                                        ;
  [:!SEWQ#Pbackslash [:!SOf15]]                                                                    ;
  [:!SEWQ#Pcomma [:!SOf18]]                                                                        ;
  [:!SEWQ#Pperiod [:!SOf19]]                                                                       ;
  [:!SEWQ#Pslash [:!SOf20]]                                                                        ;

  [:!SEWQ#Pdelete_or_backspace [:!STf11]]                                                          ;
  [:!SEWQ#Preturn_or_enter [:!STf12]]                                          ; jump              ;
  [:!SEWQ#Pright_shift [:!STf13]]                                                                  ;
  [:!SEWQ#Pright_option [:!STf14]]                                                                 ;
  [:!SEWQ#Pright_command [:!STf15]]                                                                ;
  [:!SEWQ#Pspacebar [:!STf18]]                                                 ; save jump         ;

  ; [:!SEWQ#Pleft_command []]                                                       NOT USEFUL     ;
  ; [:!SEWQ#Pleft_option []]                                                        NOT USEFUL     ;
  ; [:!SEWQ#Pleft_control []]                                                       NOT USEFUL     ;
  ; [:!SEWQ#Pleft_shift []]                                                         NOT USEFUL     ;
  ; [:!SEWQ#Pcaps_lock []]                                                          NOT USEFUL     ;
  ; [:!SEWQ#Ptab []]                                                                NOT AVAILABLE  ;
  ; [:!SEWQ#Pkeypad_num_lock []]                                                    NOT USEFUL     ;
  ; [:!SEWQ#Pescape []]                                                             NOT USEFUL     ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;


; joker
{:des "Joker Mode - symbols"
 :rules
 [;
  ; ; test
  ; [:!EWQS#Pup_arrow :f13]                                                                          ;
  ; [:!EWQS#Pdown_arrow :f14]                                                                        ;

  ; class
  [:!EWQT#Pup_arrow :f8]                                                                           ;
  [:!EWQT#Pdown_arrow :f9]                                                                         ;

  ; parameter
  [:!EWQO#Pup_arrow :f10]                                                                          ;
  [:!EWQO#Pdown_arrow :f11]                                                                        ;

  ; function
  [:!EWQC#Pup_arrow :f5]                                                                           ;
  [:!EWQC#Pdown_arrow :f6]                                                                         ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
