;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; CTL-CMD
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

{:des "Control - Command Mode"
 :rules
 [;
  ; TODO: annotate for Babel compatibility
  ^{:doc/actions [{:name "prev-buffer", :description "Previous buffer", :exec "goto_previous_buffer", :program "helix"}]} [:!TC#Pleft_arrow [:!Tb] [:term]]
  ^{:doc/actions [{:name "next-buffer", :description "Next buffer", :exec "goto_next_buffer", :program "helix"}]} [:!TC#Pright_arrow [:!Tf] [:term]]
  ^{:doc/actions [{:name "increment-number", :description "Increment number", :exec "increment", :program "helix"}]} [:!TC#Pup_arrow [:!Tn] [:term]]
  ^{:doc/actions [{:name "decrement-number", :description "Decrement number", :exec "decrement", :program "helix"}]} [:!TC#Pdown_arrow [:!Tp] [:term]]

  ; TODO: review bindings helix splits
  ^{:doc/actions [{:name "close-tab", :description "Close current buffer", :exec "buffer-close", :program "helix"}]} [:!TC#Pdelete_or_backspace [:!Tl]]
  ^{:doc/actions [{:name "close-others", :description "Close other splits", :exec "wonly", :program "helix"}]} [:!TC#Preturn_or_enter [:!Tg]]
  ^{:doc/actions [{:name "vsplit", :description "Split window vertically", :exec "vsplit", :program "helix"}]} [:!TC#Pright_shift [:!Tv]]
  ^{:doc/actions [{:name "hsplit", :description "Split window horizontally", :exec "hsplit", :program "helix"}]} [:!TC#Pright_option [:!Th]]
  ^{:doc/actions [{:name "close-window", :description "Close current split", :exec "unsplit", :program "helix"}]} [:!TC#Pright_command [:!Tj]]
  ^{:doc/actions [{:name "last-file", :description "Go to last file", :exec "goto_last_accessed_file", :program "helix"}
                  {:name "open-preview" :program "broot"}]} [:!TC#Pspacebar [:!To]]                ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
