;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; OPT
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option
{:des "Option Mode - arrows"
 :rules
 [;
  [:!O#Pleft_arrow :!Ob [:term]]                                               ; cursor movement   ; alacritty
  [:!O#Pright_arrow :!Of [:term]]                                              ; cursor movement   ; alacritty
  [:!O#Pup_arrow [:page_up] [:term]]                                           ; cursor movement   ; alacritty
  [:!O#Pdown_arrow [:page_down] [:term]]                                       ; cursor movement   ; alacritty
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option
{:des "Option Mode - symbols"
 :rules
 [;
  [:!O#Popen_bracket [:spacebar :!Scomma :equal_sign :spacebar]]                                   ; ' <= '
  [:!O#Pclose_bracket [:spacebar :!Speriod :equal_sign :spacebar]]                                 ; ' >= '
  [:!O#Psemicolon [:spacebar :!Ssemicolon :spacebar]]                                              ; ' : '
  [:!O#Pquote [:vk_none]]                                                      ;    EMPTY          ;
  [:!O#Pbackslash [:spacebar :!Sbackslash :spacebar]]                                              ; ' | '
  [:!O#Pcomma [:spacebar :!Scomma :spacebar]]                                                      ; ' < '
  [:!O#Pperiod [:spacebar :!Speriod :spacebar]]                                                    ; ' > '
  [:!O#Pslash [:spacebar :!Sslash :spacebar]]                                                      ; ' ? '

  [:!O#Pdelete_or_backspace [:spacebar :!Sgrave_accent_and_tilde :spacebar]]                       ; ' ~ '
  [:!O#Preturn_or_enter [:spacebar :equal_sign :spacebar]]                                         ; ' = '
  [:!O#Pright_shift [:spacebar :!Sbackslash :!Speriod :spacebar]]                                  ; ' |> '
  [:!O#Pright_option [:spacebar :!S8 :spacebar]]                                                   ; ' * '
  [:!O#Pright_command [:spacebar :slash :spacebar]]                                                ; ' / '
  [:!O#Pspacebar [:!OCnon_us_pound]]                                           ;    ALFRED         ;

  ; [:!O#Pleft_command []]                                                          NOT USEFUL     ;
  ; [:!O#Pleft_option []]                                                           NOT AVAILABLE  ;
  ; [:!O#Pleft_control []]                                                          NOT USEFUL     ;
  ; [:!O#Pleft_shift []]                                                            NOT USEFUL     ;
  ; [:!O#Pcaps_lock []]                                                             NOT USEFUL     ;
  ; [:!O#Ptab []]                                                                   NOT USEFUL     ;
  ; [:!O#Pkeypad_num_lock []]                                                       NOT USEFUL     ;
  ; [:!O#Pescape []]                                                                NOT USEFUL     ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option
{:des "Option Mode - numbers"
 :rules
 [;
  [:!O#Pkeypad_1 [:vk_none]]                                                   ;    EMPTY          ;
  [:!O#Pkeypad_2 [:vk_none]]                                                   ;    EMPTY          ;
  [:!O#Pkeypad_3 [:vk_none]]                                                   ;    EMPTY          ;
  [:!O#Pkeypad_4 [:vk_none]]                                                   ;    EMPTY          ;
  [:!O#Pkeypad_5 [:vk_none]]                                                   ;    EMPTY          ;
  [:!O#Pkeypad_6 [:vk_none]]                                                   ;    EMPTY          ;
  [:!O#Pkeypad_7 [:vk_none]]                                                   ;    EMPTY          ;
  [:!O#Pkeypad_8 [:vk_none]]                                                   ;    EMPTY          ;
  [:!O#Pkeypad_9 [:vk_none]]                                                   ;    EMPTY          ;
  [:!O#Pkeypad_0 [:vk_none]]                                                   ;    EMPTY          ;
  [:!O#Pkeypad_slash [:vk_none]]                                               ;    EMPTY          ;
  [:!O#Pkeypad_asterisk [:vk_none]]                                            ;    EMPTY          ;

  [:!O#P1 [:vk_none]]                                                          ;    EMPTY          ;
  [:!O#P2 [:vk_none]]                                                          ;    EMPTY          ;
  [:!O#P3 [:vk_none]]                                                          ;    EMPTY          ;
  [:!O#P4 [:vk_none]]                                                          ;    EMPTY          ;
  [:!O#P5 [:spacebar :!S5 :spacebar]]                                                              ; ' % '
  [:!O#P6 [:spacebar :!S6 :spacebar]]                                                              ; ' ^ '
  [:!O#P7 [:spacebar :!S7 :spacebar]]                                                              ; ' & '
  [:!O#P8 [:vk_none]]                                                          ;    EMPTY          ;
  [:!O#P9 [:period :!S9]]                                                                          ; '.('
  [:!O#P0 [:vk_none]]                                                          ;    EMPTY          ;
  [:!O#Phyphen [:spacebar :hyphen :spacebar]]                                                      ; ' - '
  [:!O#Pequal_sign [:spacebar :!Sequal_sign :spacebar]]                                            ; ' + '
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option
{:des "Option Mode - alphabet"
 :rules
 [;
  [:!O#Pa :!Of1 [:term]]                                                                           ; zellij
  [:!O#Pb :!Of2 [:term]]                                                                           ; zellij
  [:!O#Pc :!Of4 [:term]]                                                                           ; zellij
  [:!O#Pd :!Of5 [:term]]                                                                           ; zellij
  [:!O#Pe :!Of6 [:term]]                                                                           ; zellij
  [:!O#Pf :!Of7 [:term]]                                                                           ; zellij
  [:!O#Pg :!Of8 [:term]]                                                                           ; zellij
  [:!O#Ph :!Of9 [:term]]                                                                           ; zellij
  [:!O#Pi :!Of10 [:term]]                                                                          ; zellij
  [:!O#Pj :!Tf1 [:term]]                                                                           ; zellij
  [:!O#Pk :!Tf2 [:term]]                                                                           ; zellij
  [:!O#Pl :!Tf4 [:term]]                                                                           ; zellij
  [:!O#Pm :!Tf5 [:term]]                                                                           ; zellij
  [:!O#Pn :!Tf6 [:term]]                                                                           ; zellij
  [:!O#Po :!Tf7 [:term]]                                                                           ; zellij
  [:!O#Pp :!Tf8 [:term]]                                                                           ; zellij
  [:!O#Pq :!Tf9 [:term]]                                                                           ; zellij
  [:!O#Pr :!Tf10 [:term]]                                                                          ; zellij
  [:!O#Ps :!OTf1 [:term]]                                                                          ; zellij
  [:!O#Pt :!OTf2 [:term]]                                                                          ; zellij
  [:!O#Pu :!OTf4 [:term]]                                                                          ; zellij
  [:!O#Pv :!OTf5 [:term]]                                                                          ; zellij
  [:!O#Pw :!OTf6 [:term]]                                                                          ; zellij
  [:!O#Px :!OTf7 [:term]]                                                                          ; zellij
  [:!O#Py :!OTf8 [:term]]                                                                          ; zellij
  [:!O#Pz :!OTf9 [:term]]                                                                          ; zellij
  [:!O#Pright_control :!OTf10 [:term]]                                                             ; zellij
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option - shift
{:des "Option Mode - arrows"
 :rules
 [;
  ; [:!OS#Pleft_arrow []]                                                                          ;
  ; [:!OS#Pright_arrow []]                                                                         ;
  ; [:!OS#Pup_arrow []]                                                                            ;
  ; [:!OS#Pdown_arrow []]                                                                          ;
 ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option - shift
{:des "Option Mode - symbols"
 :rules
 [;
  [:!OS#Popen_bracket [:spacebar :period :!Scomma :equal_sign :spacebar]]                          ; ' .<= '
  [:!OS#Pclose_bracket [:spacebar :period :!Speriod :equal_sign :spacebar]]                        ; ' .>= '
  [:!OS#Psemicolon [:vk_none]]                                                 ;    EMPTY          ;
  [:!OS#Pquote [:vk_none]]                                                     ;    EMPTY          ;
  [:!OS#Pbackslash [:spacebar :period :!Sbackslash :spacebar]]                                     ; ' .| '
  [:!OS#Pcomma [:spacebar :period :!Scomma :spacebar]]                                             ; ' .< '
  [:!OS#Pperiod [:spacebar :period :!Speriod :spacebar]]                                           ; ' .> '
  [:!OS#Pslash [:vk_none]]                                                     ;    EMPTY          ;

  [:!OS#Pdelete_or_backspace [:spacebar :equal_sign :!Sgrave_accent_and_tilde :spacebar]]          ; ' =~ '
  [:!OS#Preturn_or_enter [:spacebar :period :equal_sign :spacebar]]                                ; ' .= '
  [:!OS#Pright_shift [:spacebar :period :!Sbackslash :!Speriod :spacebar]]                         ; ' .|> '
  [:!OS#Pright_option [:spacebar :period :!S8 :spacebar]]                                          ; ' .* '
  [:!OS#Pright_command [:spacebar :period :slash :spacebar]]                                       ; ' ./ '
  [:!OS#Pspacebar [:!OCSnon_us_pound]]                                         ;    ALFRED         ;

  ; [:!OS#Pleft_command []]                                                         NOT USEFUL     ;
  ; [:!OS#Pleft_option []]                                                          NOT AVAILABLE  ;
  ; [:!OS#Pleft_control []]                                                         NOT USEFUL     ;
  ; [:!OS#Pleft_shift []]                                                           NOT AVAILABLE  ;
  ; [:!OS#Pcaps_lock []]                                                            NOT USEFUL     ;
  ; [:!OS#Ptab []]                                                                  NOT USEFUL     ;
  ; [:!OS#Pkeypad_num_lock []]                                                      NOT USEFUL     ;
  ; [:!OS#Pescape []]                                                               NOT USEFUL     ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option
{:des "Option Mode - numbers"
 :rules
 [;
  [:!OS#Pkeypad_1 [:vk_none]]                                                  ;    EMPTY          ;
  [:!OS#Pkeypad_2 [:vk_none]]                                                  ;    EMPTY          ;
  [:!OS#Pkeypad_3 [:vk_none]]                                                  ;    EMPTY          ;
  [:!OS#Pkeypad_4 [:vk_none]]                                                  ;    EMPTY          ;
  [:!OS#Pkeypad_5 [:vk_none]]                                                  ;    EMPTY          ;
  [:!OS#Pkeypad_6 [:vk_none]]                                                  ;    EMPTY          ;
  [:!OS#Pkeypad_7 [:vk_none]]                                                  ;    EMPTY          ;
  [:!OS#Pkeypad_8 [:vk_none]]                                                  ;    EMPTY          ;
  [:!OS#Pkeypad_9 [:vk_none]]                                                  ;    EMPTY          ;
  [:!OS#Pkeypad_0 [:vk_none]]                                                  ;    EMPTY          ;
  [:!OS#Pkeypad_slash [:vk_none]]                                              ;    EMPTY          ;
  [:!OS#Pkeypad_asterisk [:vk_none]]                                           ;    EMPTY          ;

  [:!OS#P1 [:vk_none]]                                                         ;    EMPTY          ;
  [:!OS#P2 [:vk_none]]                                                         ;    EMPTY          ;
  [:!OS#P3 [:vk_none]]                                                         ;    EMPTY          ;
  [:!OS#P4 [:vk_none]]                                                         ;    EMPTY          ;
  [:!OS#P5 [:spacebar :period :!S5 :spacebar]]                                                     ; ' .% '
  [:!OS#P6 [:spacebar :period :!S6 :spacebar]]                                                     ; ' .^ '
  [:!OS#P7 [:spacebar :period :!S7 :spacebar]]                                                     ; ' .& '
  [:!OS#P8 [:vk_none]]                                                         ;    EMPTY          ;
  [:!OS#P9 [:!Ssemicolon :!S9]]                                                                    ; ':('
  [:!OS#P0 [:vk_none]]                                                         ;    EMPTY          ;
  [:!OS#Phyphen [:spacebar :period :hyphen :spacebar]]                                             ; ' .- '
  [:!OS#Pequal_sign [:spacebar :period :!Sequal_sign :spacebar]]                                   ; ' .+ '
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option
{:des "Option Mode - alphabet"
 :rules
 [;
  [:!OS#Pa :!SOf1 [:term]]                                                                         ; zellij
  [:!OS#Pb :!SOf2 [:term]]                                                                         ; zellij
  [:!OS#Pc :!SOf4 [:term]]                                                                         ; zellij
  [:!OS#Pd :!SOf5 [:term]]                                                                         ; zellij
  [:!OS#Pe :!SOf6 [:term]]                                                                         ; zellij
  [:!OS#Pf :!SOf7 [:term]]                                                                         ; zellij
  [:!OS#Pg :!SOf8 [:term]]                                                                         ; zellij
  [:!OS#Ph :!SOf9 [:term]]                                                                         ; zellij
  [:!OS#Pi :!SOf10 [:term]]                                                                        ; zellij
  [:!OS#Pj :!STf1 [:term]]                                                                         ; zellij
  [:!OS#Pk :!STf2 [:term]]                                                                         ; zellij
  [:!OS#Pl :!STf4 [:term]]                                                                         ; zellij
  [:!OS#Pm :!STf5 [:term]]                                                                         ; zellij
  [:!OS#Pn :!STf6 [:term]]                                                                         ; zellij
  [:!OS#Po :!STf7 [:term]]                                                                         ; zellij
  [:!OS#Pp :!STf8 [:term]]                                                                         ; zellij
  [:!OS#Pq :!STf9 [:term]]                                                                         ; zellij
  [:!OS#Pr :!STf10 [:term]]                                                                        ; zellij
  [:!OS#Ps :!SOTf1 [:term]]                                                                        ; zellij
  [:!OS#Pt :!SOTf2 [:term]]                                                                        ; zellij
  [:!OS#Pu :!SOTf4 [:term]]                                                                        ; zellij
  [:!OS#Pv :!SOTf5 [:term]]                                                                        ; zellij
  [:!OS#Pw :!SOTf6 [:term]]                                                                        ; zellij
  [:!OS#Px :!SOTf7 [:term]]                                                                        ; zellij
  [:!OS#Py :!SOTf8 [:term]]                                                                        ; zellij
  [:!OS#Pz :!SOTf9 [:term]]                                                                        ; zellij
  [:!OS#Pright_control :!SOTf10 [:term]]                                                           ; zellij
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
