;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; OPT-CMD
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option - command
{:des "Option - Command Mode - arrows"
 :rules
 [;
  [:!OC#Pleft_arrow :!SOj [:term]]                                             ; tab motion        ; zellij
  [:!OC#Pright_arrow :!SOk [:term]]                                            ; tab motion        ; zellij
  [:!OC#Pup_arrow :!Tx [:term]]                                                ; screen motion     ; zellij
  [:!OC#Pdown_arrow :!Ty [:term]]                                              ; screen motion     ; zellij
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option - command
{:des "Option - Command Mode - symbols"
 :rules
 [;
  [:!OC#Popen_bracket :!SOv [:term]]                                           ; plugin room       ; zellij
  [:!OC#Pclose_bracket :!SOw [:term]]                                          ; plugin jump-list  ; zellij
  [:!OC#Psemicolon :!SOx [:term]]                                              ; plugin monocle    ; zellij
  [:!OC#Pquote :!SOy [:term]]                                                  ; plugin            ; zellij
  [:!OC#Pbackslash :!SOz [:term]]                                              ; plugin            ; zellij
  [:!OC#Pcomma :!Ox [:term]]                               ; alt-cmd-.         ; nushell motion    ; alacritty
  [:!OC#Pperiod :!Oy [:term]]                              ; alt-cmd-,         ; nushell motion    ; alacritty
  [:!OC#Pslash :!Oz [:term]]                               ; alt-cmd-/         ; nushell motion    ; alacritty

  [:!OC#Pdelete_or_backspace :!SOu [:term]]                                    ; tab close         ; zellij
  [:!OC#Preturn_or_enter :!SOp [:term]]                                        ; tab sync          ; zellij
  [:!OC#Pright_shift :!SOq]                                            ; tab new           ; zellij
  [:!OC#Pright_option :!SOr [:term]]                                           ; tab break pane    ; zellij
  [:!OC#Pright_command :!SOs [:term]]                                          ; tab rename        ; zellij
  [:!OC#Pspacebar :!SOt [:term]]                                               ; tab jump back     ; zellij

  ; [:!OCleft_command []]                                                           NOT AVAILABLE  ;
  ; [:!OC#Pleft_option []]                                                          NOT AVAILABLE  ;
  ; [:!OCleft_control []]                                                           NOT USEFUL     ;
  ; [:!OC#Pleft_shift []]                                                           NOT USEFUL     ;
  ; [:!OC#Pcaps_lock []]                                                            NOT USEFUL     ;
  ; [:!OC#Ptab []]                                                                  NOT USEFUL     ;
  ; [:!OC#Pkeypad_num_lock []]                                                      NOT USEFUL     ;
  ; [:!OC#Pescape []]                                                               NOT USEFUL     ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option - command
{:des "Option - Command Mode - numbers"
 :rules
 [;
  [:!OC#Pkeypad_1 :!SOa [:term]]                           ; alt-cmd-1         ;                   ; zellij
  [:!OC#Pkeypad_2 :!SOb [:term]]                           ; alt-cmd-2         ;                   ; zellij
  [:!OC#Pkeypad_3 :!SOc [:term]]                           ; alt-cmd-3         ;                   ; zellij
  [:!OC#Pkeypad_4 :!SOd [:term]]                           ; alt-cmd-4         ;                   ; zellij
  [:!OC#Pkeypad_5 :!SOe [:term]]                           ; alt-cmd-5         ;                   ; zellij
  [:!OC#Pkeypad_6 :!SOf [:term]]                           ; alt-cmd-6         ;                   ; zellij
  [:!OC#Pkeypad_7 :!SOg [:term]]                           ; alt-cmd-7         ;                   ; zellij
  [:!OC#Pkeypad_8 :!SOh [:term]]                           ; alt-cmd-8         ;                   ; zellij
  [:!OC#Pkeypad_9 :!SOi [:term]]                           ; alt-cmd-9         ;                   ; zellij
  [:!OC#Pkeypad_0 :!SOj [:term]]                           ; alt-cmd-0         ;                   ; zellij
  ; [:!OC#Pkeypad_slash []]                                                                        ;
  ; [:!OC#Pkeypad_asterisk []]                                                                     ;

  [:!OC#P1 :!SOa [:term]]                                  ; alt-cmd-1         ;                   ; zellij
  [:!OC#P2 :!SOb [:term]]                                  ; alt-cmd-2         ;                   ; zellij
  [:!OC#P3 :!SOc [:term]]                                  ; alt-cmd-3         ;                   ; zellij
  [:!OC#P4 :!SOd [:term]]                                  ; alt-cmd-4         ;                   ; zellij
  [:!OC#P5 :!SOe [:term]]                                  ; alt-cmd-5         ;                   ; zellij
  [:!OC#P6 :!SOf [:term]]                                  ; alt-cmd-6         ;                   ; zellij
  [:!OC#P7 :!SOg [:term]]                                  ; alt-cmd-7         ;                   ; zellij
  [:!OC#P8 :!SOh [:term]]                                  ; alt-cmd-8         ;                   ; zellij
  [:!OC#P9 :!SOi [:term]]                                  ; alt-cmd-9         ;                   ; zellij
  ; [:!OC#P0 []]                                                                                   ;
  ; [:!OC#Phyphen []]                                                                              ;
  ; [:!OC#Pequal_sign []]                                                                          ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option - command
{:des "Option - Command Mode - alphabet"
 :rules
 [;
  ; [:!OC#Pa []]                                                                                   ;
  ; [:!OC#Pb []]                                                                                   ;
  ; [:!OC#Pc []]                                                                                   ;
  ; [:!OC#Pd []]                                                                                   ;
  ; [:!OC#Pe []]                                                                                   ;
  ; [:!OC#Pf []]                                                                                   ;
  ; [:!OC#Pg []]                                                                                   ;
  ; [:!OC#Ph []]                                                                                   ;
  ; [:!OC#Pi []]                                                                                   ;
  ; [:!OC#Pj []]                                                                                   ;
  ; [:!OC#Pk []]                                                                                   ;
  ; [:!OC#Pl []]                                                                                   ;
  ; [:!OC#Pm []]                                                                                   ;
  ; [:!OC#Pn []]                                                                                   ;
  ; [:!OC#Po []]                                                                                   ;
  ; [:!OC#Pp []]                                                                                   ;
  ; [:!OC#Pq []]                                                                                   ;
  ; [:!OC#Pr []]                                                                                   ;
  ; [:!OC#Ps []]                                                                                   ;
  ; [:!OC#Pt []]                                                                                   ;
  ; [:!OC#Pu []]                                                                                   ;
  ; [:!OC#Pv []]                                                                                   ;
  ; [:!OC#Pw []]                                                                                   ;
  ; [:!OC#Px []]                                                                                   ;
  ; [:!OC#Py []]                                                                                   ;
  ; [:!OC#Pz []]                                                                                   ;
  ; [:!OC#Pright_control []]                                                                       ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
