;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; OPT-CMD
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

{:des "Option - Command Mode"
 :rules
 [;
  ^{:doc/actions [{:name "jump prev buffer", :exec [""], :program "zellij"}]} [:!OC#Pleft_arrow :!SOj [:term]]
  ^{:doc/actions [{:name "jump next buffer", :exec [""], :program "zellij"}]} [:!OC#Pright_arrow :!SOk [:term]]
  ^{:doc/actions [{:name "scroll up", :exec ["scroll_up"], :program "helix-common"}
                  {:name "scroll up", :exec ["scrollUpMain-alt2"], :program "lazygit"}]} [:!OC#Pup_arrow :!Tx [:term]]
  ^{:doc/actions [{:name "scroll down", :exec ["scroll_down"], :program "helix-common"}
                  {:name "scroll down", :exec ["scrollDownMain-alt2"], :program "lazygit"}]} [:!OC#Pdown_arrow :!Ty [:term]]

  ; TODO: annotate zellij binds
  [:!OC#Popen_bracket :!SOv [:term]]                                           ; plugin room       ; zellij
  [:!OC#Pclose_bracket :!SOw [:term]]                                          ; plugin jump-list  ; zellij
  [:!OC#Psemicolon :!SOx [:term]]                                              ; plugin monocle    ; zellij
  [:!OC#Pquote :!SOy [:term]]                                                  ; plugin            ; zellij
  [:!OC#Pbackslash :!SOz [:term]]                                              ; plugin            ; zellij
  [:!OC#Pcomma :!Ox [:term]]                               ; alt-cmd-.         ; nushell motion    ; alacritty
  [:!OC#Pperiod :!Oy [:term]]                              ; alt-cmd-,         ; nushell motion    ; alacritty
  [:!OC#Pslash :!Oz [:term]]                               ; alt-cmd-/         ; nushell motion    ; alacritty

  [:!OC#Pdelete_or_backspace :!SOu [:term]]                                    ; tab close         ; zellij
  [:!OC#Preturn_or_enter :!SOp [:term]]                                        ; tab sync          ; zellij
  [:!OC#Pright_shift :!SOq]                                                    ; tab new           ; zellij
  [:!OC#Pright_option :!SOr [:term]]                                           ; tab break pane    ; zellij
  [:!OC#Pright_command :!SOs [:term]]                                          ; tab rename        ; zellij
  [:!OC#Pspacebar :!SOt [:term]]                                               ; tab jump back     ; zellij

  [:!OC#Pkeypad_1 :!SOa [:term]]                           ; alt-cmd-1         ;                   ; zellij
  [:!OC#Pkeypad_2 :!SOb [:term]]                           ; alt-cmd-2         ;                   ; zellij
  [:!OC#Pkeypad_3 :!SOc [:term]]                           ; alt-cmd-3         ;                   ; zellij
  [:!OC#Pkeypad_4 :!SOd [:term]]                           ; alt-cmd-4         ;                   ; zellij
  [:!OC#Pkeypad_5 :!SOe [:term]]                           ; alt-cmd-5         ;                   ; zellij
  [:!OC#Pkeypad_6 :!SOf [:term]]                           ; alt-cmd-6         ;                   ; zellij
  [:!OC#Pkeypad_7 :!SOg [:term]]                           ; alt-cmd-7         ;                   ; zellij
  [:!OC#Pkeypad_8 :!SOh [:term]]                           ; alt-cmd-8         ;                   ; zellij
  [:!OC#Pkeypad_9 :!SOi [:term]]                           ; alt-cmd-9         ;                   ; zellij
  [:!OC#Pkeypad_0 :!SOj [:term]]                           ; alt-cmd-0         ;                   ; zellij
  ; [:!OC#Pkeypad_slash []]                                                                        ;
  ; [:!OC#Pkeypad_asterisk []]                                                                     ;

  [:!OC#P1 :!SOa [:term]]                                  ; alt-cmd-1         ;                   ; zellij
  [:!OC#P2 :!SOb [:term]]                                  ; alt-cmd-2         ;                   ; zellij
  [:!OC#P3 :!SOc [:term]]                                  ; alt-cmd-3         ;                   ; zellij
  [:!OC#P4 :!SOd [:term]]                                  ; alt-cmd-4         ;                   ; zellij
  [:!OC#P5 :!SOe [:term]]                                  ; alt-cmd-5         ;                   ; zellij
  [:!OC#P6 :!SOf [:term]]                                  ; alt-cmd-6         ;                   ; zellij
  [:!OC#P7 :!SOg [:term]]                                  ; alt-cmd-7         ;                   ; zellij
  [:!OC#P8 :!SOh [:term]]                                  ; alt-cmd-8         ;                   ; zellij
  [:!OC#P9 :!SOi [:term]]                                  ; alt-cmd-9         ;                   ; zellij
  ; [:!OC#P0 []]                                                                                   ;
  ; [:!OC#Phyphen []]                                                                              ;
  ; [:!OC#Pequal_sign []]                                                                          ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
