;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; OPT-CTL
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

{:des "Option - Control Mode"
 :rules
 [;
  [:!OT#Pleft_arrow :!Oj [:term]]                                              ; pane left         ; zellij
  [:!OT#Pright_arrow :!Ok [:term]]                                             ; pane right        ; zellij
  [:!OT#Pup_arrow :!Ol [:term]]                                                ; pane up           ; zellij
  [:!OT#Pdown_arrow :!Om [:term]]                                              ; pane down         ; zellij

  ; [:!OT#Popen_bracket []]
  ; [:!OT#Pclose_bracket []]
  ; [:!OT#Psemicolon []]
  ; [:!OT#Pquote []]
  ; [:!OT#Pbackslash []]
  ; [:!OT#Pcomma []]
  ; [:!OT#Pperiod []]
  ; [:!OT#Pslash []]

  [:!OT#Pdelete_or_backspace :!Oo [:term]]                                     ; pane close        ; zellij
  [:!OT#Preturn_or_enter :!Op [:term]]                                         ; pane focus        ; zellij
  [:!OT#Pright_shift :!Oq [:term]]                                             ; pane split right  ; zellij
  [:!OT#Pright_option :!Or [:term]]                                            ; pane split down   ; zellij
  [:!OT#Pright_command :!Os [:term]]                                           ; pane rename       ; zellij
  [:!OT#Pspacebar :!Ot [:term]]                                                ; pane jump back    ; zellij
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
