;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; OPT
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

{:des "Option Mode"
 :rules
 [;
  [:!O#Pleft_arrow :!Ob [:term]]
  [:!O#Pright_arrow :!Of [:term]]
  [:!O#Pup_arrow [:page_up] [:term]]
  [:!O#Pdown_arrow [:page_down] [:term]]

  ; [:!OS#Pleft_arrow []]
  ; [:!OS#Pright_arrow []]
  ; [:!OS#Pup_arrow []]
  ; [:!OS#Pdown_arrow []]

  [:!O#Popen_bracket [:spacebar :!Scomma :equal_sign :spacebar]]                                   ; ' <= '
  [:!O#Pclose_bracket [:spacebar :!Speriod :equal_sign :spacebar]]                                 ; ' >= '
  ; [:!O#Psemicolon []]
  ; [:!O#Pquote []]
  [:!O#Pbackslash [:spacebar :!Sbackslash :spacebar]]                                              ; ' | '
  [:!O#Pcomma [:spacebar :!Scomma :spacebar]]                                                      ; ' < '
  [:!O#Pperiod [:spacebar :!Speriod :spacebar]]                                                    ; ' > '
  [:!O#Pslash [:spacebar :!Sslash :spacebar]]                                                      ; ' ? '

  ; [:!O#Pdelete_or_backspace []]
  [:!O#Preturn_or_enter [:spacebar :equal_sign :spacebar]]                                         ; ' = '
  [:!O#Pright_shift [:spacebar :!Sbackslash :!Speriod :spacebar]]                                  ; ' |> '
  [:!O#Pright_option [:spacebar :!S8 :spacebar]]                                                   ; ' * '
  [:!O#Pright_command [:spacebar :slash :spacebar]]                                                ; ' / '
  [:!O#Pspacebar [:!OCnon_us_pound]]

  ; [:!O#P1 []]
  ; [:!O#P2 []]
  ; [:!O#P3 []]
  ; [:!O#P4 []]
  [:!O#P5 [:spacebar :!S5 :spacebar]]                                                              ; ' % '
  [:!O#P6 [:spacebar :!S6 :spacebar]]                                                              ; ' ^ '
  [:!O#P7 [:spacebar :!S7 :spacebar]]                                                              ; ' & '
  ; [:!O#P8 []]
  [:!O#P9 [:period :!S9]]                                                                          ; '.('
  ; [:!O#P0 []]
  [:!O#Phyphen [:spacebar :hyphen :spacebar]]                                                      ; ' - '
  [:!O#Pequal_sign [:spacebar :!Sequal_sign :spacebar]]                                            ; ' + '

  [:!OS#Popen_bracket [:spacebar :period :!Scomma :equal_sign :spacebar]]                          ; ' .<= '
  [:!OS#Pclose_bracket [:spacebar :period :!Speriod :equal_sign :spacebar]]                        ; ' .>= '
  ; [:!OS#Psemicolon []]
  ; [:!OS#Pquote []]
  [:!OS#Pbackslash [:spacebar :period :!Sbackslash :spacebar]]                                     ; ' .| '
  [:!OS#Pcomma [:spacebar :period :!Scomma :spacebar]]                                             ; ' .< '
  [:!OS#Pperiod [:spacebar :period :!Speriod :spacebar]]                                           ; ' .> '
  ; [:!OS#Pslash []]

  ; [:!OS#Pdelete_or_backspace []]
  [:!OS#Preturn_or_enter [:spacebar :period :equal_sign :spacebar]]                                ; ' .= '
  [:!OS#Pright_shift [:spacebar :period :!Sbackslash :!Speriod :spacebar]]                         ; ' .|> '
  [:!OS#Pright_option [:spacebar :period :!S8 :spacebar]]                                          ; ' .* '
  [:!OS#Pright_command [:spacebar :period :slash :spacebar]]                                       ; ' ./ '
  [:!OS#Pspacebar [:!OCSnon_us_pound]]

  ; [:!OS#P1 []]
  ; [:!OS#P2 []]
  ; [:!OS#P3 []]
  ; [:!OS#P4 []]
  [:!OS#P5 [:spacebar :period :!S5 :spacebar]]                                                     ; ' .% '
  [:!OS#P6 [:spacebar :period :!S6 :spacebar]]                                                     ; ' .^ '
  [:!OS#P7 [:spacebar :period :!S7 :spacebar]]                                                     ; ' .& '
  ; [:!OS#P8 []]
  [:!OS#P9 [:!Ssemicolon :!S9]]                                                                    ; ':('
  ; [:!OS#P0 []]
  [:!OS#Phyphen [:spacebar :period :hyphen :spacebar]]                                             ; ' .- '
  [:!OS#Pequal_sign [:spacebar :period :!Sequal_sign :spacebar]]                                   ; ' .+ '

  ; TODO: better annotations for Alacritty / Zellij remaps
  [:!O#Pa :!Of1 [:term]]
  [:!O#Pb :!Of2 [:term]]
  [:!O#Pc :!Of4 [:term]]
  [:!O#Pd :!Of5 [:term]]
  [:!O#Pe :!Of6 [:term]]
  ^{:doc/actions [{:name "search", :description "Search in project", :exec "search", :program "helix"}]} [:!O#Pf :!Of7 [:term]]
  [:!O#Pg :!Of8 [:term]]
  [:!O#Ph :!Of9 [:term]]
  [:!O#Pi :!Of10 [:term]]
  [:!O#Pj :!Tf1 [:term]]
  [:!O#Pk :!Tf2 [:term]]
  [:!O#Pl :!Tf4 [:term]]
  [:!O#Pm :!Tf5 [:term]]
  [:!O#Pn :!Tf6 [:term]]
  [:!O#Po :!Tf7 [:term]]
  [:!O#Pp :!Tf8 [:term]]
  [:!O#Pq :!Tf9 [:term]]
  [:!O#Pr :!Tf10 [:term]]
  [:!O#Ps :!OTf1 [:term]]
  [:!O#Pt :!OTf2 [:term]]
  [:!O#Pu :!OTf4 [:term]]
  [:!O#Pv :!OTf5 [:term]]
  [:!O#Pw :!OTf6 [:term]]
  [:!O#Px :!OTf7 [:term]]
  [:!O#Py :!OTf8 [:term]]
  [:!O#Pz :!OTf9 [:term]]
  [:!O#Pright_control :!OTf10 [:term]]

  [:!OS#Pa :!SOf1 [:term]]
  [:!OS#Pb :!SOf2 [:term]]
  [:!OS#Pc :!SOf4 [:term]]
  [:!OS#Pd :!SOf5 [:term]]
  [:!OS#Pe :!SOf6 [:term]]
  ^{:doc/actions [{:name "global-search", :description "Perform global search", :exec "global_search", :program "helix"}]} [:!OS#Pf :!SOf7 [:term]]
  [:!OS#Pg :!SOf8 [:term]]
  [:!OS#Ph :!SOf9 [:term]]
  [:!OS#Pi :!SOf10 [:term]]
  [:!OS#Pj :!STf1 [:term]]
  [:!OS#Pk :!STf2 [:term]]
  [:!OS#Pl :!STf4 [:term]]
  [:!OS#Pm :!STf5 [:term]]
  [:!OS#Pn :!STf6 [:term]]
  [:!OS#Po :!STf7 [:term]]
  [:!OS#Pp :!STf8 [:term]]
  [:!OS#Pq :!STf9 [:term]]
  [:!OS#Pr :!STf10 [:term]]
  [:!OS#Ps :!SOTf1 [:term]]
  [:!OS#Pt :!SOTf2 [:term]]
  [:!OS#Pu :!SOTf4 [:term]]
  [:!OS#Pv :!SOTf5 [:term]]
  [:!OS#Pw :!SOTf6 [:term]]
  [:!OS#Px :!SOTf7 [:term]]
  [:!OS#Py :!SOTf8 [:term]]
  [:!OS#Pz :!SOTf9 [:term]]
  [:!OS#Pright_control :!SOTf10 [:term]]]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
