;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; OPT-CMD
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option - command
{:des "Option - Command Mode - arrows"
 :rules
 [;
  [:!OC#Pleft_arrow :!Ox [:term]]                                              ; tab movement      ; zellij
  [:!OC#Pright_arrow :!Oy [:term]]                                             ; tab movement      ; zellij
  [:!OC#Pup_arrow :!Tx [:term]]                                                ; screen movement   ; zellij
  [:!OC#Pdown_arrow :!Ty [:term]]                                              ; screen movement   ; zellij
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option - command
{:des "Option - Command Mode - symbols"
 :rules
 [;
  [:!OC#Popen_bracket :!SOl [:term]]                                           ; plugin jump-list  ; zellij
  [:!OC#Pclose_bracket :!SOm [:term]]                                          ; plugin monocle    ; zellij
  ; [:!OC#Psemicolon []]                                                                           ;
  ; [:!OC#Pquote []]                                                                               ;
  ; [:!OC#Pbackslash []]                                                                           ;
  [:!OC#Pcomma :!Ow [:term]]                               ; alt-cmd-.         ; nushell movement  ; zellij
  [:!OC#Pperiod :!Ov [:term]]                              ; alt-cmd-,         ; nushell movement  ; zellij
  [:!OC#Pslash :!Oz [:term]]                               ; alt-cmd-/         ; nushell movement  ; zellij

  [:!OC#Pdelete_or_backspace :!SOi [:term]]                                    ; close             ; zellij
  [:!OC#Preturn_or_enter :!SOj [:term]]                                        ; plugin room       ; zellij
  [:!OC#Pright_shift :!SOk [:term]]                                            ; new               ; zellij
  ; [:!OC#Pright_option                                                                            ;
  [:!OC#Pright_command :!SOa [:term]]                                          ; rename            ; zellij
  [:!OC#Pspacebar :!SOn [:term]]                                               ; jump back         ; zellij

  ; [:!OCleft_command []]                                                           NOT AVAILABLE  ;
  ; [:!OC#Pleft_option []]                                                          NOT AVAILABLE  ;
  ; [:!OCleft_control []]                                                           NOT USEFUL     ;
  ; [:!OC#Pleft_shift []]                                                           NOT USEFUL     ;
  ; [:!OC#Pcaps_lock []]                                                            NOT USEFUL     ;
  ; [:!OC#Ptab []]                                                                  NOT USEFUL     ;
  ; [:!OC#Pkeypad_num_lock []]                                                      NOT USEFUL     ;
  ; [:!OC#Pescape []]                                                               NOT USEFUL     ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option - command
{:des "Option - Command Mode - numbers"
 :rules
 [;
  [:!OC#Pkeypad_1 :!SOr [:term]]                           ; alt-cmd-1         ;                   ; zellij
  [:!OC#Pkeypad_2 :!SOs [:term]]                           ; alt-cmd-2         ;                   ; zellij
  [:!OC#Pkeypad_3 :!SOt [:term]]                           ; alt-cmd-3         ;                   ; zellij
  [:!OC#Pkeypad_4 :!SOu [:term]]                           ; alt-cmd-4         ;                   ; zellij
  [:!OC#Pkeypad_5 :!SOv [:term]]                           ; alt-cmd-5         ;                   ; zellij
  [:!OC#Pkeypad_6 :!SOw [:term]]                           ; alt-cmd-6         ;                   ; zellij
  [:!OC#Pkeypad_7 :!SOx [:term]]                           ; alt-cmd-7         ;                   ; zellij
  [:!OC#Pkeypad_8 :!SOy [:term]]                           ; alt-cmd-8         ;                   ; zellij
  [:!OC#Pkeypad_9 :!SOz [:term]]                           ; alt-cmd-9         ;                   ; zellij
  [:!OC#Pkeypad_0 :!SOn [:term]]                           ; alt-cmd-0         ;                   ; zellij
  ; [:!OC#Pkeypad_slash []]                                                                        ;
  ; [:!OC#Pkeypad_asterisk []]                                                                     ;

  [:!OC#P1 :!SOr [:term]]                                  ; alt-cmd-1         ;                   ; zellij
  [:!OC#P2 :!SOs [:term]]                                  ; alt-cmd-2         ;                   ; zellij
  [:!OC#P3 :!SOt [:term]]                                  ; alt-cmd-3         ;                   ; zellij
  [:!OC#P4 :!SOu [:term]]                                  ; alt-cmd-4         ;                   ; zellij
  [:!OC#P5 :!SOv [:term]]                                  ; alt-cmd-5         ;                   ; zellij
  [:!OC#P6 :!SOw [:term]]                                  ; alt-cmd-6         ;                   ; zellij
  [:!OC#P7 :!SOx [:term]]                                  ; alt-cmd-7         ;                   ; zellij
  [:!OC#P8 :!SOy [:term]]                                  ; alt-cmd-8         ;                   ; zellij
  [:!OC#P9 :!SOz [:term]]                                  ; alt-cmd-9         ;                   ; zellij
  ; [:!OC#P0 []]                                                                                   ;
  ; [:!OC#Phyphen []]                                                                              ;
  ; [:!OC#Pequal_sign []]                                                                          ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option - command
{:des "Option - Command Mode - alphabet"
 :rules
 [;
  ; [:!OC#Pa []]                                                                                   ;
  ; [:!OC#Pb []]                                                                                   ;
  ; [:!OC#Pc []]                                                                                   ;
  ; [:!OC#Pd []]                                                                                   ;
  ; [:!OC#Pe []]                                                                                   ;
  ; [:!OC#Pf []]                                                                                   ;
  ; [:!OC#Pg []]                                                                                   ;
  ; [:!OC#Ph []]                                                                                   ;
  ; [:!OC#Pi []]                                                                                   ;
  ; [:!OC#Pj []]                                                                                   ;
  ; [:!OC#Pk []]                                                                                   ;
  ; [:!OC#Pl []]                                                                                   ;
  ; [:!OC#Pm []]                                                                                   ;
  ; [:!OC#Pn []]                                                                                   ;
  ; [:!OC#Po []]                                                                                   ;
  ; [:!OC#Pp []]                                                                                   ;
  ; [:!OC#Pq []]                                                                                   ;
  ; [:!OC#Pr []]                                                                                   ;
  ; [:!OC#Ps []]                                                                                   ;
  ; [:!OC#Pt []]                                                                                   ;
  ; [:!OC#Pu []]                                                                                   ;
  ; [:!OC#Pv []]                                                                                   ;
  ; [:!OC#Pw []]                                                                                   ;
  ; [:!OC#Px []]                                                                                   ;
  ; [:!OC#Py []]                                                                                   ;
  ; [:!OC#Pz []]                                                                                   ;
  ; [:!OC#Pright_control []]                                                                       ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
