;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; SHIFT
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; shift
{:des "Shift Mode - symbols"
 :rules
 [;
  ; [:!S#Pleft_arrow []]                                                            NOT USEFUL     ;
  ; [:!S#Pright_arrow []]                                                           NOT USEFUL     ;
  ; [:!S#Pup_arrow []]                                                              NOT USEFUL     ;
  ; [:!S#Pdown_arrow []]                                                            NOT USEFUL     ;
 ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; shift
{:des "Shift Mode - symbols"
 :rules
 [;
  ; [:!S#Popen_bracket []]                                                          NOT USEFUL     ;
  ; [:!S#Pclose_bracket []]                                                         NOT USEFUL     ;
  ; [:!S#Psemicolon []]                                                             NOT USEFUL     ;
  ; [:!S#Pquote []]                                                                 NOT USEFUL     ;
  ; [:!S#Pbackslash []]                                                             NOT USEFUL     ;
  ; [:!S#Pcomma []]                                                                 NOT USEFUL     ;
  ; [:!S#Pperiod []]                                                                NOT USEFUL     ;
  ; [:!S#Pslash []]                                                                 NOT USEFUL     ;

  [:!S#Pdelete_or_backspace [:!Wr]]                                                                ;
  [:!S#Preturn_or_enter [:!Ws]]                                                                    ;
  [:!S#Pright_shift [:delete_forward]]                                                             ;
  [:!S#Pright_option [:!Ed]]                                                                       ;
  [:!S#Pright_command [:!Wk]]                                                                      ;
  [:!S#Pspacebar [:!Wt]]                                                                           ;

  ; [:!S#Pleft_command []]                                                          NOT USEFUL     ;
  ; [:!S#Pleft_option []]                                                           NOT USEFUL     ;
  ; [:!S#Pleft_control []]                                                          NOT USEFUL     ;
  ; [:!S#Pleft_shift []]                                                            NOT AVAILABLE  ;
  ; [:!S#Pcaps_lock []]                                                             NOT USEFUL     ;
  ; [:!S#Ptab []]                                                                   NOT USEFUL     ;
  ; [:!S#Pkeypad_num_lock []]                                                       NOT USEFUL     ;
  ; [:!S#Pescape []]                                                                NOT USEFUL     ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; shift
{:des "Shift Mode - numbers"
 :rules
 [;
  ; [:!S#Pkeypad_1 []]                                                              NOT USEFUL     ;
  ; [:!S#Pkeypad_2 []]                                                              NOT USEFUL     ;
  ; [:!S#Pkeypad_3 []]                                                              NOT USEFUL     ;
  ; [:!S#Pkeypad_4 []]                                                              NOT USEFUL     ;
  ; [:!S#Pkeypad_5 []]                                                              NOT USEFUL     ;
  ; [:!S#Pkeypad_6 []]                                                              NOT USEFUL     ;
  ; [:!S#Pkeypad_7 []]                                                              NOT USEFUL     ;
  ; [:!S#Pkeypad_8 []]                                                              NOT USEFUL     ;
  ; [:!S#Pkeypad_9 []]                                                              NOT USEFUL     ;
  ; [:!S#Pkeypad_0 []]                                                              NOT USEFUL     ;
  ; [:!S#Pkeypad_slash []]                                                          NOT USEFUL     ;
  ; [:!S#Pkeypad_asterisk []]                                                       NOT USEFUL     ;

  ; [:!S#P1 []]                                                                     NOT USEFUL     ;
  ; [:!S#P2 []]                                                                     NOT USEFUL     ;
  ; [:!S#P3 []]                                                                     NOT USEFUL     ;
  ; [:!S#P4 []]                                                                     NOT USEFUL     ;
  ; [:!S#P5 []]                                                                     NOT USEFUL     ;
  ; [:!S#P6 []]                                                                     NOT USEFUL     ;
  ; [:!S#P7 []]                                                                     NOT USEFUL     ;
  ; [:!S#P8 []]                                                                     NOT USEFUL     ;
  ; [:!S#P9 []]                                                                     NOT USEFUL     ;
  ; [:!S#P0 []]                                                                     NOT USEFUL     ;
  ; [:!S#Phyphen []]                                                                NOT USEFUL     ;
  ; [:!S#Pequal_sign []]                                                            NOT USEFUL     ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; bspace
{:des "BSpace Mode - alphabet"
 :rules
 [;
  ; [:!S#Pa []]                                                                     NOT USEFUL     ;
  ; [:!S#Pb []]                                                                     NOT USEFUL     ;
  ; [:!S#Pc []]                                                                     NOT USEFUL     ;
  ; [:!S#Pd []]                                                                     NOT USEFUL     ;
  ; [:!S#Pe []]                                                                     NOT USEFUL     ;
  ; [:!S#Pf []]                                                                     NOT USEFUL     ;
  ; [:!S#Pg []]                                                                     NOT USEFUL     ;
  ; [:!S#Ph []]                                                                     NOT USEFUL     ;
  ; [:!S#Pi []]                                                                     NOT USEFUL     ;
  ; [:!S#Pj []]                                                                     NOT USEFUL     ;
  ; [:!S#Pk []]                                                                     NOT USEFUL     ;
  ; [:!S#Pl []]                                                                     NOT USEFUL     ;
  ; [:!S#Pm []]                                                                     NOT USEFUL     ;
  ; [:!S#Pn []]                                                                     NOT USEFUL     ;
  ; [:!S#Po []]                                                                     NOT USEFUL     ;
  ; [:!S#Pp []]                                                                     NOT USEFUL     ;
  ; [:!S#Pq []]                                                                     NOT USEFUL     ;
  ; [:!S#Pr []]                                                                     NOT USEFUL     ;
  ; [:!S#Ps []]                                                                     NOT USEFUL     ;
  ; [:!S#Pt []]                                                                     NOT USEFUL     ;
  ; [:!S#Pu []]                                                                     NOT USEFUL     ;
  ; [:!S#Pv []]                                                                     NOT USEFUL     ;
  ; [:!S#Pw []]                                                                     NOT USEFUL     ;
  ; [:!S#Px []]                                                                     NOT USEFUL     ;
  ; [:!S#Py []]                                                                     NOT USEFUL     ;
  ; [:!S#Pz []]                                                                     NOT USEFUL     ;
  ; [:!S#Pright_control []]                                                         NOT USEFUL     ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
