;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; PATCH
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; TODO: update
; additional
{:des "Additional keys - MacPro"
 :rules
 [:pro
  [:#Pdelete_or_backspace [:grave_accent_and_tilde]]                                               ; '`'
  [:!S#Pdelete_or_backspace [:!Sgrave_accent_and_tilde]]                                           ; '~'
  [:!O#Pdelete_or_backspace [:spacebar :!Sgrave_accent_and_tilde :spacebar]]                       ; ' ~ '
  ]}

; additional
{:des "Additional keys - MacAir"
 :rules
 [:air
  [:f1 :display_brightness_decrement]
  [:f2 :display_brightness_increment]
  [:f3 :illumination_decrement]
  [:f4 :illumination_increment]
  [:f10 :mute]
  [:f11 :volume_decrement]
  [:f12 :volume_increment]
 ]}

; additional
{:des "Additional keys - Master"
 :rules
 [:master
  [:#Pdelete_or_backspace [:grave_accent_and_tilde]]                                               ; '`'
  [:!S#Pdelete_or_backspace [:!Sgrave_accent_and_tilde]]                                           ; '~'
  [:!O#Pdelete_or_backspace [:spacebar :!Sgrave_accent_and_tilde :spacebar]]                       ; ' ~ '
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; keypad
{:des "Keypad modifications"
 :rules
 [;
  [:#Pkeypad_hyphen :mute]                                                                         ;
  [:#Pkeypad_plus :volume_increment]                                                               ;
  [:#Pkeypad_enter :volume_decrement]                                                              ;

  [:!S#Pkeypad_hyphen :keypad_hyphen]                                                              ;
  [:!S#Pkeypad_plus :keypad_plus]                                                                  ;
  [:!S#Pkeypad_enter :equal_sign]                                                                  ;
  [:!Sf18 :keypad_slash]                                                                           ;
  [:!Sf19 :keypad_asterisk]                                                                        ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
