;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; CTL
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

{:des "Control Mode"
 :rules
 [;
  ;; pickers
  ^{:doc/actions [{:name "changed-file-picker", :exec ["changed_file_picker"], :program "helix"}]} [:!W#Pdelete_or_backspace [:!Tr] [:term]]
  ^{:doc/actions [{:name "file-picker", :exec ["file_picker"], :program "helix"}]} [:!W#Preturn_or_enter [:!Ts] [:term]]
  ^{:doc/actions [{:name "buffer-picker", :exec ["buffer_picker"], :program "helix"}]} [:!W#Pright_shift [:!Tt] [:term]]]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
