;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; CTL
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

{:des "Control Mode"
 :rules
 [;
 ; TODO: update helix annotations homogeneous format
  ;; Diagnostics: prev / picker / next
  ^{:doc/actions [{:name "prev-diagnostic", :description "Go to previous diagnostic", :exec "goto_prev_diag", :program "helix"}]} [:!W#Pup_arrow       [:!Tf11]       [:term]]
  ^{:doc/actions [{:name "next-diagnostic", :description "Go to next diagnostic", :exec "goto_next_diag", :program "helix"}]} [:!W#Pdown_arrow       [:!Tf12]       [:term]]
  ^{:doc/actions [{:name "diagnostics-picker", :description "Open diagnostics picker", :exec "diagnostics_picker", :program "helix"}]} [:!W#Preturn_or_enter       [:!Tf13]       [:term]]
  ^{:doc/actions [{:name "workspace-diagnostics-picker", :description "Workspace diagnostics picker", :exec "workspace_diagnostics_picker", :program "helix"}]} [:!WS#Preturn_or_enter  [:!Tf14]  [:term]]

  ; [:!W#Popen_bracket [:!Of11]]                                                                     ; helix
  ; [:!W#Pclose_bracket [:!Of12]]                                                                    ; helix
  ; [:!W#Psemicolon [:!Of13]]                                                                        ; helix
  ; [:!W#Pquote [:!Of14]]                                                                            ; helix
  ; [:!W#Pbackslash [:!Of15]]                                                                        ; helix
  ; [:!W#Pcomma [:!Of18]]                                                        ; next test         ; helix
  ; [:!W#Pperiod [:!Of19]]                                                       ; next class        ; helix
  ; [:!W#Pslash [:!Of20]]                                                        ; next function     ; helix

  ; [:!W#Pdelete_or_backspace [:!Tf11]]                                          ; rename symbol     ; helix
  ; [:!W#Preturn_or_enter [:!Tf12]]                                              ; symbol            ; helix
  ; [:!W#Pright_shift [:!Tf13]]                                                  ; next parameter    ; helix
  ; [:!W#Pright_option [:!Tf16]]                                                 ; reference         ; helix
  ; [:!W#Pright_command [:!Tf17]]                                                ; definition        ; helix
  ; [:!W#Pspacebar [:!Tf18]]                                                     ; last edit         ; helix

  ; [:!W#Pleft_command []]                                                          NOT USEFUL     ;
  ; [:!W#Pleft_option []]                                                           NOT USEFUL     ;
  ; [:!W#Pleft_control []]                                                          NOT USEFUL     ;
  ; [:!W#Pleft_shift []]                                                            NOT USEFUL     ;
  ; [:!W#Pcaps_lock []]                                                             NOT USEFUL     ;
  ; [:!W#Ptab []]                                                                   NOT USEFUL     ;
  ; [:!W#Pkeypad_num_lock []]                                                       NOT USEFUL     ;
  ; [:!W#Pescape []]                                                                NOT USEFUL     ;

  ; [:!W#Pkeypad_1 []]                                                                             ;
  ; [:!W#Pkeypad_2 []]                                                                             ;
  ; [:!W#Pkeypad_3 []]                                                                             ;
  ; [:!W#Pkeypad_4 []]                                                                             ;
  ; [:!W#Pkeypad_5 []]                                                                             ;
  ; [:!W#Pkeypad_6 []]                                                                             ;
  ; [:!W#Pkeypad_7 []]                                                                             ;
  ; [:!W#Pkeypad_8 []]                                                                             ;
  ; [:!W#Pkeypad_9 []]                                                                             ;
  ; [:!W#Pkeypad_0 []]                                                                             ;
  ; [:!W#Pkeypad_slash []]                                                                         ;
  ; [:!W#Pkeypad_asterisk []]                                                                      ;

  ; [:!W#P1 []]                                                                                    ;
  ; [:!W#P2 []]                                                                                    ;
  ; [:!W#P3 []]                                                                                    ;
  ; [:!W#P4 []]                                                                                    ;
  ; [:!W#P5 []]                                                                                    ;
  ; [:!W#P6 []]                                                                                    ;
  ; [:!W#P7 []]                                                                                    ;
  ; [:!W#P8 []]                                                                                    ;
  ; [:!W#P9 []]                                                                                    ;
  ; [:!W#P0 []]                                                                                    ;
  ; [:!W#Phyphen [:!Tf19]]                                                                           ; helix
  ; [:!W#Pequal_sign [:!Tf20]]                                                                       ; helix

  ; [:!W#Pa []]                                                                                    ;
  ; [:!W#Pb []]                                                                                    ;
  ; [:!W#Pc []]                                                                                    ;
  ; [:!W#Pd []]                                                                                    ;
  ; [:!W#Pe []]                                                                                    ;
  ; [:!W#Pf []]                                                                                    ;
  ; [:!W#Pg []]                                                                                    ;
  ; [:!W#Ph []]                                                                                    ;
  ; [:!W#Pi []]                                                                                    ;
  ; [:!W#Pj []]                                                                                    ;
  ; [:!W#Pk []]                                                                                    ;
  ; [:!W#Pl []]                                                                                    ;
  ; [:!W#Pm []]                                                                                    ;
  ; [:!W#Pn []]                                                                                    ;
  ; [:!W#Po []]                                                                                    ;
  ; [:!W#Pp []]                                                                                    ;
  ; [:!W#Pq []]                                                                                    ;
  ; [:!W#Pr []]                                                                                    ;
  ; [:!W#Ps []]                                                                                    ;
  ; [:!W#Pt []]                                                                                    ;
  ; [:!W#Pu []]                                                                                    ;
  ; [:!W#Pv []]                                                                                    ;
  ; [:!W#Pw []]                                                                                    ;
  ; [:!W#Px []]                                                                                    ;
  ; [:!W#Py []]                                                                                    ;
  ; [:!W#Pz []]                                                                                    ;
  ; [:!W#Pright_control []]                                                         NOT AVAILABLE  ;

;   [:!WS#Pleft_arrow [:!WSpage_up] [:term]]                                   ; prev jump         ; helix
;   [:!WS#Pright_arrow [:!WSpage_down] [:term]]                                ; next jump         ; helix
;   [:!WS#Pup_arrow [:!WShome] [:term]]                                        ; prev comment      ; helix
;   [:!WS#Pdown_arrow [:!WSend] [:term]]                                       ; next comment      ; helix

  ; [:!WS#Popen_bracket [:!OSf11]]                                                                   ; helix
  ; [:!WS#Pclose_bracket [:!OSf12]]                                                                  ; helix
  ; [:!WS#Psemicolon [:!OSf13]]                                                                      ; helix
  ; [:!WS#Pquote [:!OSf14]]                                                                          ; helix
  ; [:!WS#Pbackslash [:!OSf15]]                                                                      ; helix
  ; [:!WS#Pcomma [:!OSf18]]                                                      ; prev test         ; helix
  ; [:!WS#Pperiod [:!OSf19]]                                                     ; prev class        ; helix
  ; [:!WS#Pslash [:!OSf20]]                                                      ; prev function     ; helix

  ; [:!WS#Pdelete_or_backspace [:!TSf11]]                                                            ; helix
  ; [:!WS#Preturn_or_enter [:!TSf12]]                                            ; jump list         ; helix
  ; [:!WS#Pright_shift [:!TSf13]]                                                ; prev parameter    ; helix
  ; [:!WS#Pright_option [:!TSf16]]                                               ; implementation    ; helix
  ; [:!WS#Pright_command [:!TSf17]]                                              ; type definition   ; helix
  ; [:!WS#Pspacebar [:!TSf18]]                                                   ; jump save         ; helix

  ; [:!WS#Pleft_command []]                                                         NOT USEFUL     ;
  ; [:!WS#Pleft_option []]                                                          NOT USEFUL     ;
  ; [:!WS#Pleft_control []]                                                         NOT USEFUL     ;
  ; [:!WS#Pleft_shift []]                                                           NOT AVAILABLE  ;
  ; [:!WS#Pcaps_lock []]                                                            NOT USEFUL     ;
  ; [:!WS#Ptab []]                                                                  NOT USEFUL     ;
  ; [:!WS#Pkeypad_num_lock []]                                                      NOT USEFUL     ;
  ; [:!WS#Pescape []]                                                               NOT USEFUL     ;

  ; [:!WS#Pkeypad_1 []]                                                                            ;
  ; [:!WS#Pkeypad_2 []]                                                                            ;
  ; [:!WS#Pkeypad_3 []]                                                                            ;
  ; [:!WS#Pkeypad_4 []]                                                                            ;
  ; [:!WS#Pkeypad_5 []]                                                                            ;
  ; [:!WS#Pkeypad_6 []]                                                                            ;
  ; [:!WS#Pkeypad_7 []]                                                                            ;
  ; [:!WS#Pkeypad_8 []]                                                                            ;
  ; [:!WS#Pkeypad_9 []]                                                                            ;
  ; [:!WS#Pkeypad_0 []]                                                                            ;
  ; [:!WS#Pkeypad_slash []]                                                                        ;
  ; [:!WS#Pkeypad_asterisk []]                                                                     ;

  ; [:!WS#P1 []]                                                                                   ;
  ; [:!WS#P2 []]                                                                                   ;
  ; [:!WS#P3 []]                                                                                   ;
  ; [:!WS#P4 []]                                                                                   ;
  ; [:!WS#P5 []]                                                                                   ;
  ; [:!WS#P6 []]                                                                                   ;
  ; [:!WS#P7 []]                                                                                   ;
  ; [:!WS#P8 []]                                                                                   ;
  ; [:!WS#P9 []]                                                                                   ;
  ; [:!WS#P0 []]                                                                                   ;
  [:!WS#Phyphen [:!TSf19]]                                                                         ; helix
  [:!WS#Pequal_sign [:!TSf20]]                                                                     ; helix

  ; [:!WS#Pa []]                                                                                   ;
  ; [:!WS#Pb []]                                                                                   ;
  ; [:!WS#Pc []]                                                                                   ;
  ; [:!WS#Pd []]                                                                                   ;
  ; [:!WS#Pe []]                                                                                   ;
  ; [:!WS#Pf []]                                                                                   ;
  ; [:!WS#Pg []]                                                                                   ;
  ; [:!WS#Ph []]                                                                                   ;
  ; [:!WS#Pi []]                                                                                   ;
  ; [:!WS#Pj []]                                                                                   ;
  ; [:!WS#Pk []]                                                                                   ;
  ; [:!WS#Pl []]                                                                                   ;
  ; [:!WS#Pm []]                                                                                   ;
  ; [:!WS#Pn []]                                                                                   ;
  ; [:!WS#Po []]                                                                                   ;
  ; [:!WS#Pp []]                                                                                   ;
  ; [:!WS#Pq []]                                                                                   ;
  ; [:!WS#Pr []]                                                                                   ;
  ; [:!WS#Ps []]                                                                                   ;
  ; [:!WS#Pt []]                                                                                   ;
  ; [:!WS#Pu []]                                                                                   ;
  ; [:!WS#Pv []]                                                                                   ;
  ; [:!WS#Pw []]                                                                                   ;
  ; [:!WS#Px []]                                                                                   ;
  ; [:!WS#Py []]                                                                                   ;
  ; [:!WS#Pz []]                                                                                   ;
  ; [:!WS#Pright_control []]                                                        NOT AVAILABLE  ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
