;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; OPT-CMD
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option - command
{:des "Option - Command Mode - symbols"
 :rules
 [;
  ; [:!EQ#Popen_bracket []]                                                                        ;
  ; [:!EQ#Pclose_bracket []]                                                                       ;
  ; [:!EQ#Psemicolon []]                                                                           ;
  ; [:!EQ#Pquote []]                                                                               ;
  ; [:!EQ#Pbackslash []]                                                                           ;
  ; [:!EQ#Pcomma []]                                                                               ;
  ; [:!EQ#Pperiod []]                                                                              ;
  ; [:!EQ#Pslash []]                                                                               ;

  ; [:!EQ#Pdelete_or_backspace []]                                                                 ;
  ; [:!EQ#Preturn_or_enter []]                                                                     ;
  ; [:!EQ#Pright_shift []]                                                                         ;
  ; [:!EQ#Pright_option []]                                                         NOT AVAILABLE  ;
  ; [:!EQ#Pright_command []]                                                        NOT AVAILABLE  ;
  ; [:!EQ#Pspacebar []]                                                                            ;

  ; [:!EQleft_command []]                                                                          ;
  ; [:!EQ#Pleft_option []]                                                                         ;
  ; [:!EQleft_control []]                                                                          ;
  ; [:!EQ#Pleft_shift []]                                                                          ;
  ; [:!EQ#Pcaps_lock []                                                                            ;
  ; [:!EQ#Ptab []]                                                                                 ;
  ; [:!EQ#Pkeypad_num_lock []]                                                                     ;
  ; [:!EQ#Pescape []]                                                                              ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option - command
{:des "Option - Command Mode - numbers"
 :rules
 [;
  ; [:!EQ#Pkeypad_1 []]                                                                            ;
  ; [:!EQ#Pkeypad_2 []]                                                                            ;
  ; [:!EQ#Pkeypad_3 []]                                                                            ;
  ; [:!EQ#Pkeypad_4 []]                                                                            ;
  ; [:!EQ#Pkeypad_5 []]                                                                            ;
  ; [:!EQ#Pkeypad_6 []]                                                                            ;
  ; [:!EQ#Pkeypad_7 []]                                                                            ;
  ; [:!EQ#Pkeypad_8 []]                                                                            ;
  ; [:!EQ#Pkeypad_9 []]                                                                            ;
  ; [:!EQ#Pkeypad_0 []]                                                                            ;
  ; [:!EQ#Pkeypad_slash []]                                                                        ;
  ; [:!EQ#Pkeypad_asterisk []]                                                                     ;

  ; [:!EQ#P1 []]                                                                                   ;
  ; [:!EQ#P2 []]                                                                                   ;
  ; [:!EQ#P3 []]                                                                                   ;
  ; [:!EQ#P4 []]                                                                                   ;
  ; [:!EQ#P5 []]                                                                                   ;
  ; [:!EQ#P6 []]                                                                                   ;
  ; [:!EQ#P7 []]                                                                                   ;
  ; [:!EQ#P8 []]                                                                                   ;
  ; [:!EQ#P9 []]                                                                                   ;
  ; [:!EQ#P0 []]                                                                                   ;
  ; [:!EQ#Phyphen []]                                                                              ;
  ; [:!EQ#Pequal_sign []]                                                                          ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; option - command
{:des "Option - Command Mode - alphabet"
 :rules
 [;
  ; [:!EQ#Pa []]                                                                                   ;
  ; [:!EQ#Pb []]                                                                                   ;
  ; [:!EQ#Pc []]                                                                                   ;
  ; [:!EQ#Pd []]                                                                                   ;
  ; [:!EQ#Pe []]                                                                                   ;
  ; [:!EQ#Pf []]                                                                                   ;
  ; [:!EQ#Pg []]                                                                                   ;
  ; [:!EQ#Ph []]                                                                                   ;
  ; [:!EQ#Pi []]                                                                                   ;
  ; [:!EQ#Pj []]                                                                                   ;
  ; [:!EQ#Pk []]                                                                                   ;
  ; [:!EQ#Pl []]                                                                                   ;
  ; [:!EQ#Pm []]                                                                                   ;
  ; [:!EQ#Pn []]                                                                                   ;
  ; [:!EQ#Po []]                                                                                   ;
  ; [:!EQ#Pp []]                                                                                   ;
  ; [:!EQ#Pq []]                                                                                   ;
  ; [:!EQ#Pr []]                                                                                   ;
  ; [:!EQ#Ps []]                                                                                   ;
  ; [:!EQ#Pt []]                                                                                   ;
  ; [:!EQ#Pu []]                                                                                   ;
  ; [:!EQ#Pv []]                                                                                   ;
  ; [:!EQ#Pw []]                                                                                   ;
  ; [:!EQ#Px []]                                                                                   ;
  ; [:!EQ#Py []]                                                                                   ;
  ; [:!EQ#Pz []]                                                                                   ;
  ; [:!EQ#Pright_control []]                                                                       ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
