;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; SHIFT
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

{:des "Shift Mode"
 :rules
 [;
  [:#Pright_shift :right_shift [:term] {:alone [:!Oa]}]                                            ; history term
  ; [:!R#Pleft_arrow []]
  ; [:!R#Pright_arrow []]
  ; [:!R#Pup_arrow []]
  ; [:!R#Pdown_arrow []]

  [:!R#Pleft_command [:!Wu]]                                                                       ;
  ; [:!Rleft_option []]
  [:!R#Pleft_control [:!Ww]]                                                                       ;
  [:!R#Pleft_shift [:delete_or_backspace]]                                                         ;
  ; [:!R#Pcaps_lock []]
  ; [:!R#Ptab []]
  ; [:!R#Pkeypad_num_lock []]
  ; [:!R#Pescape []]
  ]}
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
