;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; SHIFT
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

{:des "Shift Mode"
 :rules
 [;
  [:#Pright_shift :right_shift [:term] {:alone [:!Oa]}]                                            ; history term
  ; [:!R#Pleft_arrow []]
  ; [:!R#Pright_arrow []]
  ; [:!R#Pup_arrow []]
  ; [:!R#Pdown_arrow []]

  ^{:doc/actions [{:name "delete line start", :exec ["kill_to_line_start"], :program "helix-common"}
                  {:name "delete line start", :exec ["SelectToStartOfLine,Delete"], :program "micro"}]} [:!R#Pleft_command [:!Wu]]
  ; [:!Rleft_option []]
  ^{:doc/actions  [{:name "delete prev word", :exec ["delete_word_backward"], :program "helix-common"}
                   {:name "delete prev word", :exec ["DeleteWordLeft"], :program "micro"}]} [:!R#Pleft_control [:!Ww]]
  ^{:doc/actions [{:name "delete prev char", :exec ["delete_char_backward"], :program "helix-common"}]} [:!R#Pleft_shift [:delete_or_backspace]]                                                         ;
  ; [:!R#Pcaps_lock []]
  ; [:!R#Ptab []]
  ; [:!R#Pkeypad_num_lock []]
  ; [:!R#Pescape []]
  ]}
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
