;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; TAB => ROTC
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; tab
{:des "Tab Mode - arrows"
 :rules
 [;
  ; [:!ROTC#Pleft_arrow []]                                                    ; space             ; system
  ; [:!ROTC#Pright_arrow []]                                                   ; space             ; system
  ; [:!ROTC#Pup_arrow []]                                                      ; menu              ; system
  ; [:!ROTC#Pdown_arrow []]                                                    ; dock              ; system
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; tab
{:des "Tab Mode - symbols"
 :rules
 [;
  ; [:!ROTC#Popen_bracket []]                                                                      ;
  ; [:!ROTC#Pclose_bracket []]                                                                     ;
  ; [:!ROTC#Psemicolon []]                                                                         ;
  ; [:!ROTC#Pquote []]                                                                             ;
  ; [:!ROTC#Pbackslash []]                                                                         ;
  ; [:!ROTC#Pcomma []]                                                              COLLISION      ;
  ; [:!ROTC#Pperiod []]                                                             COLLISION      ;
  ; [:!ROTC#Pslash []]                                                                             ;

  [:!ROTC#Pdelete_or_backspace [:launch "Alacritty"]]                                              ;
  ; [:!ROTC#Preturn_or_enter []]                                               ; speak             ; system
  [:!ROTC#Pright_shift [:launch "Arc"]]                                                            ;
  [:!ROTC#Pright_option [:launch "Mail"]]                                                          ;
  [:!ROTC#Pright_command [:launch "Calendar"]]                                                     ;
  [:!ROTC#Pspacebar [:!W#Pnon_us_pound]]                                       ; spaces            ; arc

  ; [:!ROTC#Pleft_command []]                                                       NOT USEFUL     ;
  ; [:!ROTC#Pleft_option []]                                                        NOT USEFUL     ;
  ; [:!ROTC#Pleft_control []]                                                       NOT USEFUL     ;
  ; [:!ROTC#Pleft_shift []]                                                         NOT USEFUL     ;
  ; [:!ROTC#Pcaps_lock []]                                                          NOT USEFUL     ;
  ; [:!ROTC#Ptab []]                                                                NOT AVAILABLE  ;
  ; [:!ROTC#Pkeypad_num_lock []]                                                    NOT USEFUL     ;
  ; [:!ROTC#Pescape []]                                                             NOT USEFUL     ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; tab
{:des "Tab Mode - numbers"
 :rules
 [;
  ; [:!ROTC#Pkeypad_1 []]                                                                          ;
  ; [:!ROTC#Pkeypad_2 []]                                                                          ;
  ; [:!ROTC#Pkeypad_3 []]                                                                          ;
  ; [:!ROTC#Pkeypad_4 []]                                                                          ;
  ; [:!ROTC#Pkeypad_5 []]                                                                          ;
  ; [:!ROTC#Pkeypad_6 []]                                                                          ;
  ; [:!ROTC#Pkeypad_7 []]                                                                          ;
  ; [:!ROTC#Pkeypad_8 []]                                                                          ;
  ; [:!ROTC#Pkeypad_9 []]                                                                          ;
  ; [:!ROTC#Pkeypad_0 []]                                                                          ;
  ; [:!ROTC#Pkeypad_slash []]                                                                      ;
  ; [:!ROTC#Pkeypad_asterisk []]                                                                   ;

  ; [:!ROTC#P1 []]                                                                                 ;
  ; [:!ROTC#P2 []]                                                                                 ;
  ; [:!ROTC#P3 []]                                                                                 ;
  ; [:!ROTC#P4 []]                                                                                 ;
  ; [:!ROTC#P5 []]                                                                                 ;
  ; [:!ROTC#P6 []]                                                                                 ;
  ; [:!ROTC#P7 []]                                                                                 ;
  ; [:!ROTC#P8 []]                                                                                 ;
  ; [:!ROTC#P9 []]                                                                                 ;
  ; [:!ROTC#P0 []]                                                                                 ;
  ; [:!ROTC#PPhyphen []]                                                                           ;
  ; [:!ROTC#PPequal_sign []]                                                                       ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; tab
{:des "Tab Mode - alphabet"
 :rules
 [;
  ; [:!ROTC#Pa []]                                                                                 ;
  ; [:!ROTC#Pb []]                                                                                 ;
  ; [:!ROTC#Pc []]                                                                                 ;
  ; [:!ROTC#Pd []]                                                                                 ;
  ; [:!ROTC#Pe []]                                                                                 ;
  ; [:!ROTC#Pf []]                                                                                 ;
  ; [:!ROTC#Pg []]                                                                                 ;
  ; [:!ROTC#Ph []]                                                                                 ;
  ; [:!ROTC#Pi []]                                                                                 ;
  ; [:!ROTC#Pj []]                                                                                 ;
  ; [:!ROTC#Pk []]                                                                                 ;
  ; [:!ROTC#Pl []]                                                                                 ;
  ; [:!ROTC#Pm []]                                                                                 ;
  ; [:!ROTC#Pn []]                                                                                 ;
  ; [:!ROTC#Po []]                                                                                 ;
  ; [:!ROTC#Pp []]                                                                                 ;
  ; [:!ROTC#Pq []]                                                                                 ;
  ; [:!ROTC#Pr []]                                                                                 ;
  ; [:!ROTC#Ps []]                                                                                 ;
  ; [:!ROTC#Pt []]                                                                                 ;
  ; [:!ROTC#Pu []]                                                                                 ;
  ; [:!ROTC#Pv []]                                                                                 ;
  ; [:!ROTC#Pw []]                                                                                 ;
  ; [:!ROTC#Px []]                                                                                 ;
  ; [:!ROTC#Py []]                                                                                 ;
  ; [:!ROTC#Pz []]                                                                                 ;
  ; [:!ROTC#Pright_control []]                                                                     ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
