;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; ZERO => EQR
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; TODO: update
; ZERO
{:des "ZERO Mode - symbols"
 :rules
 [;
  [:!EQR#Popen_bracket [:!Of13]]                                                                   ;
  [:!EQR#Pclose_bracket [:!Of14]]                                                                  ;
  [:!EQR#Psemicolon [:!Of18]]                                                                      ;
  [:!EQR#Pquote [:!Of19]]                                                                          ;
  [:!EQR#Pbackslash [:!Of20]]                                                                      ;
  [:!EQR#Pcomma [:!OTf18]]                                                                         ;
  [:!EQR#Pperiod [:!OTf19]]                                                                        ;
  [:!EQR#Pslash [:!OTf20]]                                                                         ;

  [:!EQR#Pdelete_or_backspace [:!Tf11]]                                                            ;
  [:!EQR#Preturn_or_enter [:!Tf12]]                                                                ;
  [:!EQR#Pright_shift [:!Tf13]]                                                                    ;
  [:!EQR#Pright_option [:!Tf18]]                                                                   ;
  [:!EQR#Pright_command [:!Tf19]]                                                                  ;
  [:!EQR#Pspacebar [:!Tf20]]                                                                       ;

  ; [:!EQR#Pleft_command []]                                                                       ;
  ; [:!EQR#Pleft_option []]                                                                        ;
  ; [:!EQR#Pleft_control []]                                                                       ;
  ; [:!EQR#Pleft_shift []]                                                                         ;
  ; [:!EQR#Pcaps_lock []]                                                                          ;
  ; [:!EQR#Ptab []]                                                                                ;
  ; [:!EQR#Pnon_us_backslash []]                                                    NOT AVAILABLE  ;
  ; [:!EQR#Pescape []]                                                                             ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; ZERO
{:des "ZERO Mode - numbers"
 :rules
 [;
  ; [:!EQR#Pkeypad_1 []]                                                                           ;
  ; [:!EQR#Pkeypad_2 []]                                                                           ;
  ; [:!EQR#Pkeypad_3 []]                                                                           ;
  ; [:!EQR#Pkeypad_4 []]                                                                           ;
  ; [:!EQR#Pkeypad_5 []]                                                                           ;
  ; [:!EQR#Pkeypad_6 []]                                                                           ;
  ; [:!EQR#Pkeypad_7 []]                                                                           ;
  ; [:!EQR#Pkeypad_8 []]                                                                           ;
  ; [:!EQR#Pkeypad_9 []]                                                                           ;
  ; [:!EQR#Pkeypad_0 []]                                                                           ;
  ; [:!EQR#Pkeypad_slash []]                                                                       ;
  ; [:!EQR#Pkeypad_asterisk []]                                                                    ;

  ; [:!EQR#P1 []]                                                                                  ;
  ; [:!EQR#P2 []]                                                                                  ;
  ; [:!EQR#P3 []]                                                                                  ;
  ; [:!EQR#P4 []]                                                                                  ;
  ; [:!EQR#P5 []]                                                                                  ;
  ; [:!EQR#P6 []]                                                                                  ;
  ; [:!EQR#P7 []]                                                                                  ;
  ; [:!EQR#P8 []]                                                                                  ;
  ; [:!EQR#P9 []]                                                                                  ;
  ; [:!EQR#P0 []]                                                                                  ;
  [:!EQR#Phyphen [:!Of11]]                                                                         ;
  [:!EQR#Pequal_sign [:!Of12]]                                                                     ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; ZERO
{:des "ZERO Mode - numbers"
 :rules
 [;
  ; [:!EQR#Pa []]                                                                                  ;
  ; [:!EQR#Pb []]                                                                                  ;
  ; [:!EQR#Pc []]                                                                                  ;
  ; [:!EQR#Pd []]                                                                                  ;
  ; [:!EQR#Pe []]                                                                                  ;
  ; [:!EQR#Pf []]                                                                                  ;
  ; [:!EQR#Pg []]                                                                                  ;
  ; [:!EQR#Ph []]                                                                                  ;
  ; [:!EQR#Pi []]                                                                                  ;
  ; [:!EQR#Pj []]                                                                                  ;
  ; [:!EQR#Pk []]                                                                                  ;
  ; [:!EQR#Pl []]                                                                                  ;
  ; [:!EQR#Pm []]                                                                                  ;
  ; [:!EQR#Pn []]                                                                                  ;
  ; [:!EQR#Po []]                                                                                  ;
  ; [:!EQR#Pp []]                                                                                  ;
  ; [:!EQR#Pq []]                                                                                  ;
  ; [:!EQR#Pr []]                                                                                  ;
  ; [:!EQR#Ps []]                                                                                  ;
  ; [:!EQR#Pt []]                                                                                  ;
  ; [:!EQR#Pu []]                                                                                  ;
  ; [:!EQR#Pv []]                                                                                  ;
  ; [:!EQR#Pw []]                                                                                  ;
  ; [:!EQR#Px []]                                                                                  ;
  ; [:!EQR#Py []]                                                                                  ;
  ; [:!EQR#Pz []]                                                                                  ;
  ; [:!EQR#Pright_control []]                                                                      ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
