;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; Alacritty
{:des "Alacritty - Arrow"
 :rules
 [;

  ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

  ; atl-cmd
  ; [:!OC#Pleft_arrow [:term]]                                                                     ;
  ; [:!OC#Pright_arrow [:term]]                                                                    ;
  [:!OC#Pup_arrow :!Tx [:term]]                                                                    ;
  [:!OC#Pdown_arrow :!Ty [:term]]                                                                  ;

  ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

  ; ctl-cmd
  [:!TC#Pleft_arrow [:!Tb]]                                                                        ;
  [:!TC#Pright_arrow [:!Tf]]                                                                       ;
  [:!TC#Pup_arrow [:!Tn]]                                                                          ;
  [:!TC#Pdown_arrow [:!Tp]]                                                                        ;

  ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

  ; tab
  [:!WQR#Pleft_arrow [:!OSpage_up]]                                                                ;
  [:!WQR#Pright_arrow [:!OSpage_down]]                                                             ;
  [:!WQR#Pup_arrow [:!OShome]]                                                                     ;
  [:!WQR#Pdown_arrow [:!OSend]]                                                                    ;

  ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

  ; command
  ; [:!C#Pleft_arrow []]                                                                           ;
  ; [:!C#Pright_arrow []]                                                                          ;
  [:!C#Pup_arrow [:home]]                                                                          ;
  [:!C#Pdown_arrow [:end]]                                                                         ;

  ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

  ; command
  [:!CS#Pleft_arrow [:!Oleft_arrow]]                                                               ;
  [:!CS#Pright_arrow [:!Oright_arrow]]                                                             ;
  [:!CS#Pup_arrow [:!Oup_arrow]]                                                                   ;
  [:!CS#Pdown_arrow [:!Odown_arrow]]                                                               ;

  ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

  ; control
  ; [:!T#Pleft_arrow []]                                                                           ;
  ; [:!T#Pright_arrow []]                                                                          ;
  ; [:!T#Pup_arrow []]                                                                             ;
  ; [:!T#Pdown_arrow []]                                                                           ;

  ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

  ; control
  ; [:!TS#Pleft_arrow []]                                                                          ;
  ; [:!TS#Pright_arrow []]                                                                         ;
  ; [:!TS#Pup_arrow []]                                                                            ;
  ; [:!TS#Pdown_arrow []]                                                                          ;

  ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

  ; option
  ; [:!O#Pleft_arrow []]                                                                           ;
  ; [:!O#Pright_arrow []]                                                                          ;
  [:!O#Pup_arrow [:page_up]]                                                                       ;
  [:!O#Pdown_arrow [:page_down]]                                                                   ;

  ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

  ; option
  ; [:!OS#Pleft_arrow []]                                                                          ;
  ; [:!OS#Pright_arrow []]                                                                         ;
  ; [:!OS#Pup_arrow []]                                                                            ;
  ; [:!OS#Pdown_arrow []]                                                                          ;

  ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

  ; control
  [:!W#Pleft_arrow [:!Wpage_up]]                                                                   ;
  [:!W#Pright_arrow [:!Wpage_down]]                                                                ;
  [:!W#Pup_arrow [:!Whome]]                                                                        ;
  [:!W#Pdown_arrow [:!Wend]]                                                                       ;

  ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

  ; control
  [:!WS#Pleft_arrow [:!WSpage_up]]                                                                 ;
  [:!WS#Pright_arrow [:!WSpage_down]]                                                              ;
  [:!WS#Pup_arrow [:!WShome]]                                                                      ;
  [:!WS#Pdown_arrow [:!WSend]]                                                                     ;

  ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

  ; joker
  [:!EWQ#Pleft_arrow :!OTpage_up [:term]]                                                          ;
  [:!EWQ#Pright_arrow :!OTpage_down [:term]]                                                       ;
  [:!EWQ#Pup_arrow :!OThome [:term]]                                                               ;
  [:!EWQ#Pdown_arrow :!OTend [:term]]                                                              ;

  ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

  ; shift
  ; [:!S#Pleft_arrow [:term]]                                                                      ;
  ; [:!S#Pright_arrow [:term]]                                                                     ;
  ; [:!S#Pup_arrow [:term]]                                                                        ;
  ; [:!S#Pdown_arrow [:term]]                                                                      ;

  ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
