;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; mouse
{:des "Zero Mode - mouse"
 :rules
 [:zero-mode
; TODO: implement mouse mode
        ; [:down_arrow {:mkey {:y 1200}}]
        ; [:up_arrow {:mkey {:y -1200}}]
        ; [:left_arrow {:mkey {:x -1200}}]
        ; [:right_arrow {:mkey {:x 1200}}]
        ; [:!Sdown_arrow {:mkey {:y 600}}]
        ; [:!Sup_arrow {:mkey {:y -600}}]
        ; [:!Sleft_arrow {:mkey {:x -600}}]
        ; [:!Sright_arrow {:mkey {:x 600}}]
        ; [:!TSdown_arrow {:mkey {:y 300}}]
        ; [:!TSup_arrow {:mkey {:y -300}}]
        ; [:!TSleft_arrow {:mkey {:x -300}}]
        ; [:!TSright_arrow {:mkey {:x 300}}]
        ; [:return_or_enter {:pkey :button1}]
        ; [:!Creturn_or_enter {:pkey :button2}]
  [:#Pdown_arrow {:mkey {:y 1000}}]                                                                ;
  [:#Pup_arrow {:mkey {:y -1000}}]                                                                 ;
  [:#Pleft_arrow {:mkey {:x -1000}}]                                                               ;
  [:#Pright_arrow {:mkey {:x 1000}}]                                                               ;
  [:#Preturn_or_enter {:pkey :button1}]                                                            ;
  [:#Pbackslash {:pkey :button2}]                                                                  ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; TODO: segregate to independent layers
    ;; Special 'vowel' characters, '/', ';' and '\' are easy to remember as shortcut keys
    {:des "Lowercase diacritic characters - '/' for acute accent and ';' for umlaut, '\\' for grave accent and '6' for circumflex. Example: 'slash' + 'a' = á"
     :rules [
        [:a [:!Oe :a] [:slash-mode]]                          ; '/' + a = á
        [:e [:!Oe :e] [:slash-mode]]                          ; '/' + e = é
        [:i [:!Oe :i] [:slash-mode]]                          ; '/' + i = í
        [:o [:!Oe :o] [:slash-mode]]                          ; '/' + o = ó
        [:u [:!Oe :u] [:slash-mode]]                          ; '/' + u = ú

        [:a [:!Ou :a] [:semicolon-mode]]                      ; ';' + a = ä
        [:e [:!Ou :e] [:semicolon-mode]]                      ; ';' + e = ë
        [:i [:!Ou :i] [:semicolon-mode]]                      ; ';' + i = ï
        [:o [:!Ou :o] [:semicolon-mode]]                      ; ';' + o = ö
        [:u [:!Ou :u] [:semicolon-mode]]                      ; ';' + u = ü

        [:a [:!Ograve_accent_and_tilde :a] [:backslash-mode]] ; '\' + a = à
        [:e [:!Ograve_accent_and_tilde :e] [:backslash-mode]] ; '\' + e = è
        [:i [:!Ograve_accent_and_tilde :i] [:backslash-mode]] ; '\' + i = ì
        [:o [:!Ograve_accent_and_tilde :o] [:backslash-mode]] ; '\' + o = ò
        [:u [:!Ograve_accent_and_tilde :u] [:backslash-mode]] ; '\' + u = ù

        [:a [:!Oi :a] [:quote-mode]]                              ; '/' + a = â
        [:e [:!Oi :e] [:quote-mode]]                              ; '/' + e = ê
        [:i [:!Oi :i] [:quote-mode]]                              ; '/' + i = î
        [:o [:!Oi :o] [:quote-mode]]                              ; '/' + o = ô
        [:u [:!Oi :u] [:quote-mode]]                              ; '/' + u = û
     ]
    }

    ;; Special 'vowel' characters, '/', ';' and '\' are easy to remember as shortcut keys
    {:des "Uppercase diacritic characters - '/' for acute accent and ';' for umlaut, '\\' for grave accent and '6' for circumflex. Example: 'slash' + ['shift' + 'a'] = Á"
     :rules [
        [{:key :a :modi :shift} [:!Oe :!Sa] [:slash-mode]]     ; '/' + a = Á
        [{:key :e :modi :shift} [:!Oe :!Se] [:slash-mode]]     ; '/' + e = É
        [{:key :i :modi :shift} [:!Oe :!Si] [:slash-mode]]     ; '/' + i = Í
        [{:key :o :modi :shift} [:!Oe :!So] [:slash-mode]]     ; '/' + o = Ó
        [{:key :u :modi :shift} [:!Oe :!Su] [:slash-mode]]     ; '/' + u = Ú

        [{:key :a :modi :shift} [:!Ou :!Sa] [:semicolon-mode]] ; ';' + a = Ä
        [{:key :e :modi :shift} [:!Ou :!Se] [:semicolon-mode]] ; ';' + e = Ë
        [{:key :i :modi :shift} [:!Ou :!Si] [:semicolon-mode]] ; ';' + i = Ï
        [{:key :o :modi :shift} [:!Ou :!So] [:semicolon-mode]] ; ';' + o = Ö
        [{:key :u :modi :shift} [:!Ou :!Su] [:semicolon-mode]] ; ';' + u = Ü

        [{:key :a :modi :shift} [:!Ograve_accent_and_tilde :!Sa] [:backslash-mode]] ; '\' + a = À
        [{:key :e :modi :shift} [:!Ograve_accent_and_tilde :!Se] [:backslash-mode]] ; '\' + e = È
        [{:key :i :modi :shift} [:!Ograve_accent_and_tilde :!Si] [:backslash-mode]] ; '\' + i = Ì
        [{:key :o :modi :shift} [:!Ograve_accent_and_tilde :!So] [:backslash-mode]] ; '\' + o = Ò
        [{:key :u :modi :shift} [:!Ograve_accent_and_tilde :!Su] [:backslash-mode]] ; '\' + u = Ù

        [{:key :a :modi :shift} [:!Oi :!Sa] [:quote-mode]]         ; '/' + a = Â
        [{:key :e :modi :shift} [:!Oi :!Se] [:quote-mode]]         ; '/' + e = Ê
        [{:key :i :modi :shift} [:!Oi :!Si] [:quote-mode]]         ; '/' + i = Î
        [{:key :o :modi :shift} [:!Oi :!So] [:quote-mode]]         ; '/' + o = Ò
        [{:key :u :modi :shift} [:!Oi :!Su] [:quote-mode]]         ; '/' + u = Ù
     ]
    }

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
