;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; zoom
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; zoom
{:des ""
 :rules
 [;
  ; mute / unmute
  [:!C#Pspacebar :!SC#Pa [:zoom]]                                                                  ;

  ; camera on / off
  [:!T#Pspacebar :!SC#Pv [:zoom]]                                                                  ;

  ; text show
  [:#Pright_shift :right_shift [:zoom] {:alone [:!SC#Ph]}]                                         ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
