;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; zoom
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; zoom
{:des ""
 :rules
 [;
  ; mute / unmute
  [:!T#Pspacebar :!SC#Pa [:zoom]]                                                                  ;

  ; camera on / off
  [:!W#Pspacebar :!SC#Pv [:zoom]]                                                                  ;

  ; text show
  [:!EWQ#Pspacebar :!SC#Ph [:zoom]]                                                                ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
