;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; BACKSLASH
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; backslash
{:des "Backslash mode"
 :rules [
  [:a [:!Ograve_accent_and_tilde :a] [:backslash-mode]]                                            ; '\' + a = à
  [:e [:!Ograve_accent_and_tilde :e] [:backslash-mode]]                                            ; '\' + e = è
  [:i [:!Ograve_accent_and_tilde :i] [:backslash-mode]]                                            ; '\' + i = ì
  [:o [:!Ograve_accent_and_tilde :o] [:backslash-mode]]                                            ; '\' + o = ò
  [:u [:!Ograve_accent_and_tilde :u] [:backslash-mode]]                                            ; '\' + u = ù
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; backslash
{:des "Backslash mode"
 :rules [
  [{:key :a :modi :shift} [:!Ograve_accent_and_tilde :!Sa] [:backslash-mode]]                      ; '\' + A = À
  [{:key :e :modi :shift} [:!Ograve_accent_and_tilde :!Se] [:backslash-mode]]                      ; '\' + E = È
  [{:key :i :modi :shift} [:!Ograve_accent_and_tilde :!Si] [:backslash-mode]]                      ; '\' + I = Ì
  [{:key :o :modi :shift} [:!Ograve_accent_and_tilde :!So] [:backslash-mode]]                      ; '\' + O = Ò
  [{:key :u :modi :shift} [:!Ograve_accent_and_tilde :!Su] [:backslash-mode]]                      ; '\' + U = Ù
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
