;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; BRACKET
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; close bracket
{:des "Close Bracket Mode - alphabet"
 :rules
 [;
  ; [:#Pa []]                                                                                      ;
  ; [:#Pb []]                                                                                      ;
  ; [:#Pc []]                                                                                      ;
  ; [:#Pd []]                                                                                      ;
  [:#Pe [:!Ssemicolon :g :o :!Shyphen :e :r :r :o :r :!Ssemicolon] [:cbracket-mode]]               ;
  ; [:#Pf []]                                                                                      ;
  ; [:#Pg []]                                                                                      ;
  ; [:#Ph []]                                                                                      ;
  ; [:#Pi []]                                                                                      ;
  ; [:#Pj []]                                                                                      ;
  ; [:#Pk []]                                                                                      ;
  ; [:#Pl []]                                                                                      ;
  ; [:#Pm []]                                                                                      ;
  ; [:#Pn []]                                                                                      ;
  ; [:#Po []]                                                                                      ;
  [:#Pp [:!Ssemicolon :g :o :!Shyphen :p :r :i :n :t :!Ssemicolon] [:cbracket-mode]]               ;
  ; [:#Pq []]                                                                                      ;
  ; [:#Pr []]                                                                                      ;
  ; [:#Ps []]                                                                                      ;
  ; [:#Pt []]                                                                                      ;
  ; [:#Pu []]                                                                                      ;
  ; [:#Pv []]                                                                                      ;
  ; [:#Pw []]                                                                                      ;
  ; [:#Px []]                                                                                      ;
  ; [:#Py []]                                                                                      ;
  ; [:#Pz []]                                                                                      ;
  ; [:#Pright_control []]                                                                          ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
