;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; MOUSE
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; mouse
{:des "Zero Mode - mouse"
 :rules
 [:zero-mode
  [:down_arrow {:mkey {:y 1500}}]
  [:up_arrow {:mkey {:y -1500}}]
  [:left_arrow {:mkey {:x -1500}}]
  [:right_arrow {:mkey {:x 1500}}]
  [:!Tdown_arrow {:mkey {:y 750}}]
  [:!Tup_arrow {:mkey {:y -750}}]
  [:!Tleft_arrow {:mkey {:x -750}}]
  [:!Tright_arrow {:mkey {:x 750}}]
  [:!Sdown_arrow {:mkey {:y 250}}]
  [:!Sup_arrow {:mkey {:y -250}}]
  [:!Sleft_arrow {:mkey {:x -250}}]
  [:!Sright_arrow {:mkey {:x 250}}]
  [:return_or_enter {:pkey :button1}]
  [:!Sreturn_or_enter {:pkey :button2}]
  [:!Treturn_or_enter {:pkey :button2}]
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
