;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; MOUSE
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; mouse
{:des "Zero Mode - mouse"
 :rules
 [:zero-mode
  [:down_arrow {:mkey {:y 1500}}]
  [:up_arrow {:mkey {:y -1500}}]
  [:left_arrow {:mkey {:x -1500}}]
  [:right_arrow {:mkey {:x 1500}}]
  [:!Tdown_arrow {:mkey {:y 500}}]
  [:!Tup_arrow {:mkey {:y -500}}]
  [:!Tleft_arrow {:mkey {:x -500}}]
  [:!Tright_arrow {:mkey {:x 500}}]
  [:return_or_enter {:pkey :button1}]
  [:!Treturn_or_enter {:pkey :button2}]
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
