;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; BRACKET
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; open bracket
{:des "Open Bracket Mode - alphabet"
 :rules
 [;
  ; [:#Pa []]                                                                                      ;
  ; [:#Pb []]                                                                                      ;
  ; [:#Pc []]                                                                                      ;
  ; [:#Pd []]                                                                                      ;
  ; [:#Pe []]                                                                                      ;
  ; [:#Pf []]                                                                                      ;
  ; [:#Pg []]                                                                                      ;
  ; [:#Ph []]                                                                                      ;
  ; [:#Pi []]                                                                                      ;
  ; [:#Pj []]                                                                                      ;
  ; [:#Pk []]                                                                                      ;
  ; [:#Pl []]                                                                                      ;
  ; [:#Pm []]                                                                                      ;
  ; [:#Pn []]                                                                                      ;
  ; [:#Po []]                                                                                      ;
  [:#Pp [:!Ssemicolon :r :u :s :t :!Shyphen :p :r :i :n :t :!Ssemicolon] [:obracket-mode]]         ;
  ; [:#Pq []]                                                                                      ;
  ; [:#Pr []]                                                                                      ;
  ; [:#Ps []]                                                                                      ;
  ; [:#Pt []]                                                                                      ;
  ; [:#Pu []]                                                                                      ;
  ; [:#Pv []]                                                                                      ;
  ; [:#Pw []]                                                                                      ;
  ; [:#Px []]                                                                                      ;
  ; [:#Py []]                                                                                      ;
  ; [:#Pz []]                                                                                      ;
  ; [:#Pright_control []]                                                                          ;
  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
