;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Q
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

{:des "Q mode"
 :rules
 [:q-mode
  ;; find-till-char / repeat
  ^{:doc/actions [{:name "find char forward", :exec ["find_till_char"], :program "helix-common"}]} [:#Pleft_arrow [:!Tpage_up] [:term]]
  ^{:doc/actions [{:name "find char backward", :exec ["till_prev_char"], :program "helix-common"}]} [:#Pright_arrow [:!Tpage_down] [:term]]
 ; TODO: update temp mapping
  ^{:doc/actions [{:name "repeat last motion", :exec ["repeat_last_motion"], :program "helix-common"}]} [:#Pspacebar [:f18] [:term]]

  ;; comment navigation
  ^{:doc/actions [{:name "goto prev comment", :exec ["goto_prev_comment"], :program "helix-common"}]} [:#Pup_arrow [:!Thome] [:term]]
  ^{:doc/actions [{:name "goto next comment", :exec ["goto_next_comment"], :program "helix-common"}]} [:#Pdown_arrow [:!Tend] [:term]]

  ; language server
  ^{:doc/actions [{:name "rename symbol", :exec ["rename_symbol"], :program "helix-common"}]} [:#Pn [:!TSf11] [:term]]
  ^{:doc/actions [{:name "symbol picker", :exec ["symbol_picker"], :program "helix-common"}]} [:#Preturn_or_enter [:!TSf13] [:term]]
  ^{:doc/actions [{:name "goto references", :exec ["goto_reference"], :program "helix-common"}]} [:#Pr [:!Tf16] [:term]]
  ^{:doc/actions [{:name "goto definition", :exec ["goto_definition"], :program "helix-common"}]} [:#Pd [:!Tf17] [:term]]
  ^{:doc/actions [{:name "goto implementation", :exec ["goto_implementation"], :program "helix-common"}]} [:#Pi [:!TSf16] [:term]]
  ^{:doc/actions [{:name "goto type definition", :exec ["goto_type_definition"], :program "helix-common"}]} [:#Pt [:!TSf17] [:term]]

  ^{:doc/actions [{:name "goto definition", :exec ["vsplit", "goto_definition"], :program "helix-common"}]} [:#Pright_shift [:!Tf18] [:term]]
  ^{:doc/actions [{:name "goto type definition", :exec ["vsplit", "goto_type_definition"], :program "helix-common"}]} [:#Pright_option [:!Tf19] [:term]]]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
