;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Q
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

{:des "Q mode"
 :rules
 [:q-mode
  ; language server
  ^{:doc/actions [{:name "rename-symbol", :description "Rename symbol", :exec "rename_symbol", :program "helix"}]} [:#Pn [:!TSf11] [:term]]
  ^{:doc/actions [{:name "symbol-picker", :description "Show symbol list", :exec "symbol_picker", :program "helix"}]} [:#Preturn_or_enter [:!TSf13] [:term]]
  ^{:doc/actions [{:name "goto-references", :description "Go to references", :exec "goto_reference", :program "helix"}]} [:#Pr [:!Tf16] [:term]]
  ^{:doc/actions [{:name "goto-definition", :description "Go to definition", :exec "goto_definition", :program "helix"}]} [:#Pd [:!Tf17] [:term]]
  ^{:doc/actions [{:name "goto-implementation", :description "Go to implementation", :exec "goto_implementation", :program "helix"}]} [:#Pi [:!TSf16] [:term]]
  ^{:doc/actions [{:name "goto-type-definition", :description "Go to type definition", :exec "goto_type_definition", :program "helix"}]} [:#Pt [:!TSf17] [:term]]

  ; ^{:doc/actions [{:name "goto-last-modification", :description "Jump to last modification", :exec "goto_last_modification", :program "helix"}]} []

  ;; undo / redo / change navigation
  ^{:doc/actions [{:name "undo", :description "Undo last change", :program "helix"}]}   [:#Pleft_arrow [:!Opage_up] [:term]]
  ^{:doc/actions [{:name "redo", :description "Redo last undo", :program "helix"}]}   [:#Pright_arrow [:!Opage_down] [:term]]
  ^{:doc/actions [{:name "prev-change", :description "Go to previous change", :exec "goto_prev_change", :program "helix"}]}   [:#Pup_arrow [:!Ohome] [:term]]
  ^{:doc/actions [{:name "next-change", :description "Go to next change", :exec "goto_next_change", :program "helix"}]}   [:#Pdown_arrow [:!Oend] [:term]]]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
