; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; ; SEMICOLON
; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; ; semicolon
; {:des "Semicolon"
;  :rules [
;   [:a [:!Ou :a] [:semicolon-mode]]                                                                 ; ';' + a = ä
;   [:e [:!Ou :e] [:semicolon-mode]]                                                                 ; ';' + e = ë
;   [:i [:!Ou :i] [:semicolon-mode]]                                                                 ; ';' + i = ï
;   [:o [:!Ou :o] [:semicolon-mode]]                                                                 ; ';' + o = ö
;   [:u [:!Ou :u] [:semicolon-mode]]                                                                 ; ';' + u = ü
;   ]}

; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; ; semicolon
; {:des "Semicolon"
;  :rules [
;   [{:key :a :modi :shift} [:!Ou :!Sa] [:semicolon-mode]]                                           ; ';' + A = Ä
;   [{:key :e :modi :shift} [:!Ou :!Se] [:semicolon-mode]]                                           ; ';' + E = Ë
;   [{:key :i :modi :shift} [:!Ou :!Si] [:semicolon-mode]]                                           ; ';' + I = Ï
;   [{:key :o :modi :shift} [:!Ou :!So] [:semicolon-mode]]                                           ; ';' + O = Ö
;   [{:key :u :modi :shift} [:!Ou :!Su] [:semicolon-mode]]                                           ; ';' + U = Ü
;   ]}

; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
