;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; W
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; w
{:des "W mode"
 :rules
 [;
  :w-mode
  [:#Pleft_arrow [:!TShome] [:term]]                                                    ; '/// '
  [:#Pright_arrow [:!TSend] [:term]]                                                    ; '/// '
  ; [:#Pup_arrow [:!Ohome] [:term]]                                                    ; '/// '
  ; [:#Pdown_arrow [:!Oend] [:term]]                                                    ; '/// '


  [:#Popen_bracket [:!S3 :open_bracket]]                                                         ; '#['
  [:#Pclose_bracket [:close_bracket :spacebar]]                                                  ; '] '
  [:#Psemicolon [:semicolon :spacebar]]                                                          ; '; '
  [:#Pquote [:quote :slash :quote]]                                                              ; ''/''
  [:#Pbackslash [:spacebar :hyphen]]                                                             ; ' -'
  [:#Pcomma [:spacebar :!Scomma :hyphen :spacebar]]                                       ; ' <- '
  [:#Pperiod [:spacebar :hyphen :!Speriod :spacebar]]                                      ; ' -> '
  [:#Pslash [:slash :slash :!S1 :spacebar]]                                                      ; '//! '

  [:#Pdelete_or_backspace [:spacebar :!S1 :equal_sign :spacebar]]                                         ; ' != '
  [:#Preturn_or_enter [:!TSf12]]
  ; [:#Pright_shift [:spacebar :!Ssemicolon :equal_sign :spacebar]]                                  ; ' := '
  [:#Pright_option [:spacebar :!S8 :equal_sign :spacebar]]                                       ; ' *= '
  [:#Pright_command [:spacebar :slash :equal_sign :spacebar]]                                    ; ' /= '
  [:#Pspacebar [:!TSf18]]                                                                             ;



  ; [:#Pleft_command []]                                                          NOT AVAILABLE  ;
  ; [:#Pleft_option []]                                                           NOT USEFUL     ;
  ; [:#Pleft_control []]                                                          NOT USEFUL     ;
  ; [:#Pleft_shift []]                                                            NOT USEFUL     ;
  ; [:#Pcaps_lock []]                                                             NOT USEFUL     ;
  ; [:#Ptab []]                                                                   NOT USEFUL     ;
  ; [:#Pkeypad_num_lock []]                                                       NOT USEFUL     ;
  ; [:#Pescape []]                                                                NOT USEFUL     ;
  ]}
