;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; W
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; w
{:des "W mode"
 :rules
 [;
  [:#Popen_bracket [:!S3 :open_bracket] [:w-mode]]                                                         ; '#['
  [:#Pclose_bracket [:close_bracket :spacebar] [:w-mode]]                                                  ; '] '
  [:#Psemicolon [:semicolon :spacebar] [:w-mode]]                                                          ; '; '
  [:#Pquote [:quote :slash :quote] [:w-mode]]                                                              ; ''/''
  [:#Pbackslash [:spacebar :hyphen] [:w-mode]]                                                             ; ' -'
  [:#Pcomma [:spacebar :!Scomma :hyphen :spacebar] [:w-mode]]                                       ; ' <- '
  [:#Pperiod [:spacebar :hyphen :!Speriod :spacebar] [:w-mode]]                                      ; ' -> '
  [:#Pslash [:slash :slash :!S1 :spacebar] [:w-mode]]                                                      ; '//! '

  [:#Pdelete_or_backspace [:spacebar :!S1 :equal_sign :spacebar] [:w-mode]]                                         ; ' != '
  [:#Preturn_or_enter [:spacebar :!Ssemicolon :equal_sign :spacebar] [:w-mode]]                                  ; ' := '
  ; [:#Pright_shift [] [:w-mode]]                                                                          ;
  [:#Pright_option [:spacebar :!S8 :equal_sign :spacebar] [:w-mode]]                                       ; ' *= '
  [:#Pright_command [:spacebar :slash :equal_sign :spacebar] [:w-mode]]                                    ; ' /= '
  ; [:#Pspacebar [] [:w-mode]]                                                                             ;



  ; [:#Pleft_command [] [:w-mode]]                                                          NOT AVAILABLE  ;
  ; [:#Pleft_option [] [:w-mode]]                                                           NOT USEFUL     ;
  ; [:#Pleft_control [] [:w-mode]]                                                          NOT USEFUL     ;
  ; [:#Pleft_shift [] [:w-mode]]                                                            NOT USEFUL     ;
  ; [:#Pcaps_lock [] [:w-mode]]                                                             NOT USEFUL     ;
  ; [:#Ptab [] [:w-mode]]                                                                   NOT USEFUL     ;
  ; [:#Pkeypad_num_lock [] [:w-mode]]                                                       NOT USEFUL     ;
  ; [:#Pescape [] [:w-mode]]                                                                NOT USEFUL     ;
  ]}
