;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; X
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

; x
{:des "X mode"
 :rules
 [;
  :x-mode
  [:#Pleft_arrow [:f17] [:term]]                                                    ; '/// '
  [:#Pright_arrow [:f16] [:term]]                                                    ; '/// '
  ; [:#Pup_arrow [:!Thome] [:term]]                                                    ; '/// '
  ; [:#Pdown_arrow [:!Tend] [:term]]                                                    ; '/// '

  [:#Popen_bracket [:spacebar :!Scomma :equal_sign :spacebar]]                                   ; ' <= '
  [:#Pclose_bracket [:spacebar :!Speriod :equal_sign :spacebar]]                                 ; ' >= '
  [:#Psemicolon [:spacebar :!Ssemicolon :spacebar]]                                              ; ' : '
  [:#Pquote [:vk_none]]                                                      ;    EMPTY          ;
  [:#Pbackslash [:spacebar :!Sbackslash :spacebar]]                                              ; ' | '
  [:#Pcomma [:spacebar :!Scomma :spacebar]]                                                      ; ' < '
  [:#Pperiod [:spacebar :!Speriod :spacebar]]                                                    ; ' > '
  [:#Pslash [:spacebar :!Sslash :spacebar]]                                                      ; ' ? '

  [:#Pdelete_or_backspace [:spacebar :!Sgrave_accent_and_tilde :spacebar]]                       ; ' ~ '
  [:#Preturn_or_enter [:spacebar :equal_sign :spacebar]]                                         ; ' = '
  [:#Pright_shift [:spacebar :!Sbackslash :!Speriod :spacebar]]                                  ; ' |> '
  [:#Pright_option [:spacebar :!S8 :spacebar]]                                                   ; ' * '
  [:#Pright_command [:spacebar :slash :spacebar]]                                                ; ' / '
  [:#Pspacebar [:f18]]                                           ;    ALFRED         ;

  ; [:#Pleft_command []]                                                          NOT USEFUL     ;
  ; [:#Pleft_option []]                                                           NOT AVAILABLE  ;
  ; [:#Pleft_control []]                                                          NOT USEFUL     ;
  ; [:#Pleft_shift []]                                                            NOT USEFUL     ;
  ; [:#Pcaps_lock []]                                                             NOT USEFUL     ;
  ; [:#Ptab []]                                                                   NOT USEFUL     ;
  ; [:#Pkeypad_num_lock []]                                                       NOT USEFUL     ;
  ; [:#Pescape []]                                                                NOT USEFUL     ;
  ]}
