;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; X
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

{:des "X mode"
 :rules
 [:x-mode
  ^{:doc/actions [{:name "find-till-char-forward", :description "Find till character forward", :exec "find_till_char", :program "helix"}]} [:#Pleft_arrow       [:!Tpage_up]       [:term]]
  ^{:doc/actions [{:name "find-till-char-backward", :description "Find till character backward", :exec "till_prev_char", :program "helix"}]} [:#Pright_arrow       [:!Tpage_down]       [:term]]
  [:#Pup_arrow [:!Thome] [:term]]
  [:#Pdown_arrow [:!Tend] [:term]]


  [:#Popen_bracket [:spacebar :!Scomma :equal_sign :spacebar]]                                   ; ' <= '
  [:#Pclose_bracket [:spacebar :!Speriod :equal_sign :spacebar]]                                 ; ' >= '
  [:#Psemicolon [:spacebar :!Ssemicolon :spacebar]]                                              ; ' : '
  [:#Pquote [:vk_none]]                                                      ;    EMPTY          ;
  [:#Pbackslash [:spacebar :!Sbackslash :spacebar]]                                              ; ' | '
  [:#Pcomma [:spacebar :!Scomma :spacebar]]                                                      ; ' < '
  [:#Pperiod [:spacebar :!Speriod :spacebar]]                                                    ; ' > '
  [:#Pslash [:spacebar :!Sslash :spacebar]]                                                      ; ' ? '

  [:#Pdelete_or_backspace [:spacebar :!Sgrave_accent_and_tilde :spacebar]]                       ; ' ~ '
  [:#Preturn_or_enter [:spacebar :equal_sign :spacebar]]                                         ; ' = '
  [:#Pright_shift [:spacebar :!Sbackslash :!Speriod :spacebar]]                                  ; ' |> '
  [:#Pright_option [:spacebar :!S8 :spacebar]]                                                   ; ' * '
  [:#Pright_command [:spacebar :slash :spacebar]]                                                ; ' / '
  ; TODO: update temp mapping
  ^{:doc/actions [{:name "repeat-last-motion", :description "Repeat last movement", :exec "repeat_last_motion", :program "helix"}]} [:#Pspacebar       [:f18]       [:term]]

  ; [:#Pleft_command []]                                                          NOT USEFUL     ;
  ; [:#Pleft_option []]                                                           NOT AVAILABLE  ;
  ; [:#Pleft_control []]                                                          NOT USEFUL     ;
  ; [:#Pleft_shift []]                                                            NOT USEFUL     ;
  ; [:#Pcaps_lock []]                                                             NOT USEFUL     ;
  ; [:#Ptab []]                                                                   NOT USEFUL     ;
  ; [:#Pkeypad_num_lock []]                                                       NOT USEFUL     ;
  ; [:#Pescape []]                                                                NOT USEFUL     ;

  [:#P1 [:vk_none]]                                                          ;    EMPTY          ;
  [:#P2 [:vk_none]]                                                          ;    EMPTY          ;
  [:#P3 [:vk_none]]                                                          ;    EMPTY          ;
  [:#P4 [:vk_none]]                                                          ;    EMPTY          ;
  [:#P5 [:spacebar :!S5 :spacebar]]                                                              ; ' % '
  [:#P6 [:spacebar :!S6 :spacebar]]                                                              ; ' ^ '
  [:#P7 [:spacebar :!S7 :spacebar]]                                                              ; ' & '
  [:#P8 [:vk_none]]                                                          ;    EMPTY          ;
  [:#P9 [:period :!S9]]                                                                          ; '.('
  [:#P0 [:vk_none]]                                                          ;    EMPTY          ;
  [:#Phyphen [:spacebar :hyphen :spacebar]]                                                      ; ' - '
  [:#Pequal_sign [:spacebar :!Sequal_sign :spacebar]]                                            ; ' + '

  [:!S#Popen_bracket [:spacebar :period :!Scomma :equal_sign :spacebar]]                          ; ' .<= '
  [:!S#Pclose_bracket [:spacebar :period :!Speriod :equal_sign :spacebar]]                        ; ' .>= '
  [:!S#Psemicolon [:vk_none]]                                                 ;    EMPTY          ;
  [:!S#Pquote [:vk_none]]                                                     ;    EMPTY          ;
  [:!S#Pbackslash [:spacebar :period :!Sbackslash :spacebar]]                                     ; ' .| '
  [:!S#Pcomma [:spacebar :period :!Scomma :spacebar]]                                             ; ' .< '
  [:!S#Pperiod [:spacebar :period :!Speriod :spacebar]]                                           ; ' .> '
  [:!S#Pslash [:vk_none]]                                                     ;    EMPTY          ;

  [:!S#Pdelete_or_backspace [:spacebar :equal_sign :!Sgrave_accent_and_tilde :spacebar]]          ; ' =~ '
  [:!S#Preturn_or_enter [:spacebar :period :equal_sign :spacebar]]                                ; ' .= '
  [:!S#Pright_shift [:spacebar :period :!Sbackslash :!Speriod :spacebar]]                         ; ' .|> '
  [:!S#Pright_option [:spacebar :period :!S8 :spacebar]]                                          ; ' .* '
  [:!S#Pright_command [:spacebar :period :slash :spacebar]]                                       ; ' ./ '
  [:!S#Pspacebar [:!OCSnon_us_pound]]                                         ;    ALFRED         ;

  ; [:!S#Pleft_command []]                                                         NOT USEFUL     ;
  ; [:!S#Pleft_option []]                                                          NOT AVAILABLE  ;
  ; [:!S#Pleft_control []]                                                         NOT USEFUL     ;
  ; [:!S#Pleft_shift []]                                                           NOT AVAILABLE  ;
  ; [:!S#Pcaps_lock []]                                                            NOT USEFUL     ;
  ; [:!S#Ptab []]                                                                  NOT USEFUL     ;
  ; [:!S#Pkeypad_num_lock []]                                                      NOT USEFUL     ;
  ; [:!S#Pescape []]                                                               NOT USEFUL     ;

  [:!S#P1 [:vk_none]]                                                         ;    EMPTY          ;
  [:!S#P2 [:vk_none]]                                                         ;    EMPTY          ;
  [:!S#P3 [:vk_none]]                                                         ;    EMPTY          ;
  [:!S#P4 [:vk_none]]                                                         ;    EMPTY          ;
  [:!S#P5 [:spacebar :period :!S5 :spacebar]]                                                     ; ' .% '
  [:!S#P6 [:spacebar :period :!S6 :spacebar]]                                                     ; ' .^ '
  [:!S#P7 [:spacebar :period :!S7 :spacebar]]                                                     ; ' .& '
  [:!S#P8 [:vk_none]]                                                         ;    EMPTY          ;
  [:!S#P9 [:!Ssemicolon :!S9]]                                                                    ; ':('
  [:!S#P0 [:vk_none]]                                                         ;    EMPTY          ;
  [:!S#Phyphen [:spacebar :period :hyphen :spacebar]]                                             ; ' .- '
  [:!S#Pequal_sign [:spacebar :period :!Sequal_sign :spacebar]]                                   ; ' .+ '

  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
