;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Z
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

{:des "Z mode"
 :rules
 [:z-mode
  ;; find-till-char / repeat
  ^{:doc/actions [{:name "find-till-char-forward", :description "Find till character forward", :exec "find_till_char", :program "helix"}]} [:#Pleft_arrow [:!Tpage_up] [:term]]
  ^{:doc/actions [{:name "find-till-char-backward", :description "Find till character backward", :exec "till_prev_char", :program "helix"}]} [:#Pright_arrow [:!Tpage_down] [:term]]
 ; TODO: update temp mapping
  ^{:doc/actions [{:name "repeat-last-motion", :description "Repeat last movement", :exec "repeat_last_motion", :program "helix"}]} [:#Pspacebar [:f18] [:term]]

  ;; comment navigation
  ^{:doc/actions [{:name "prev-comment", :description "Go to previous comment", :exec "goto_prev_comment", :program "helix"}]} [:#Pup_arrow [:!Thome] [:term]]
  ^{:doc/actions [{:name "next-comment", :description "Go to next comment", :exec "goto_next_comment", :program "helix"}]} [:#Pdown_arrow [:!Tend] [:term]]

  ;; diagnostics: prev / next / picker
  ^{:doc/actions [{:name "prev-diagnostic", :description "Go to previous diagnostic", :exec "goto_prev_diag", :program "helix"}]} [:#Pdelete_or_backspace [:!Tf11] [:term]]
  ^{:doc/actions [{:name "next-diagnostic", :description "Go to next diagnostic", :exec "goto_next_diag", :program "helix"}]} [:#Pright_shift [:!Tf12] [:term]]
  ^{:doc/actions [{:name "diagnostics-picker", :description "Open diagnostics picker", :exec "diagnostics_picker", :program "helix"}]} [:#Preturn_or_enter [:!Tf13] [:term]]
  ^{:doc/actions [{:name "workspace-diagnostics-picker", :description "Workspace diagnostics picker", :exec "workspace_diagnostics_picker", :program "helix"}]} [:!S#Preturn_or_enter [:!Tf14] [:term]]]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
