;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;


 {:des "Press twice to enter double mode, press once to leave"
  :rules [
   [:!ST#Pspacebar ["double-control-mode" 1] ["control-pressed-once" 1]]
   [:!ST#Pspacebar [:!ST#Pspacebar ["control-pressed-once" 1]] ["double-control-mode" 0] {:delayed {:invoked ["control-pressed-once" 0] :canceled ["control-pressed-once" 0]}}]

   :double-control-mode
   [:!ST#Pspacebar ["double-control-mode" 0]]

  ; zellij controls - alt
  ; [:#Pleft_command :!SOa [:term]]                          ; cmd               ;                   ;
  ; [:#Pcaps_lock :!SOb [:term]]                              ; alt               ;                   ;
  ; [:#Pleft_option :!SOc [:term]]                           ; alt               ;                   ;
  [:#Pright_option :!SOd [:term]]                          ; alt               ;                   ;
  [:#Preturn_or_enter :!SOe [:term]]                       ; enter             ;                   ;
  [:#Pright_shift :!SOf [:term]]                           ; shift             ;                   ;
  [:#Pright_command :!SOg [:term]]                         ; cmd               ;                   ;
  [:#Pspacebar :!SOh [:term]]                              ; spacebar          ;                   ;

  ]}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
